.blog {
    &__main {
        display: flex;
        gap: 50px;
        align-items: center;
        max-width: 100vw;

    }

    &__news {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        max-width: 720px;

    }

    &__swiper {
        // flex: 1 0 0;
        min-width: 0;
        max-width: 590px;

        .swiper {
            width: 100%;

            // &-slide {
            //     flex-shrink: 0;
            //     width: 100%;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            // }

            &-slide {
                display: flex;
                justify-content: center;
            }
        }
    }

    @include table {
        &__main {
            display: block;
            flex-direction: column;
            align-items: center;
        }

        &__news {
            max-width: max-content;
            margin-bottom: 60px;
        }

        .news-card {
            &__info {
                max-width: none;
            }
        }

        &__swiper {
            max-width: none;
        }
    }

    @include mobile {
        &__swiper {
            margin: 0;
        }

        &__news {
            gap: 40px;
        }
    }
}