.clients{
    &__wrapper-marquee{
        padding-top: 40px;
    }
    .marquee{
        max-width: 100vw;
        overflow: hidden;
        
        &__inner{
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            width: max-content;
            gap: 40px;
            animation: scroll 20s linear infinite;
            img{
                filter: grayscale(100%);
                transition: filter .3s linear;
        }
        @media (hover : hover) and (pointer : fine) {
            img:hover {
                filter: grayscale(0%);
                transition: filter .3s linear;
            }
        }
        }
    }
    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 20px));
        }
    }
}