.new-items{
    &__swiper{
        .product-card{
            &__photo{
                flex: 0 1 auto;
            }
        }
        
    }
    @include mobile{
        overflow: hidden;
        .swiper{
            overflow: visible;

        }
        .item-swiper{
            &__ui{
                display: none;
            }
        }
        // .ite
    }
}