.promotions{
    &__main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    @include mobile {
        &__main{
        display: flex;
        flex-direction: column;
        gap: 40px;
        }
    }
}