.section-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;

    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    a {
        display: flex;
        align-items: center;
        padding-bottom: 8px;
        gap: 10px;
        color: $GMediumG;
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        transition: all 0.2s linear;
        svg {
            fill: $GMediumG;
            transform: rotate(-90deg);
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
              color: $GSupportDG;
              transition: all 0.2s linear;

              svg {
                fill: $GSupportDG;
                transition: all 0.2s linear;
              }
            }
          }

          &:active {
            color: $GDarkG;
            transition: all 0.1s linear;

            svg {
              fill: $GDarkG;
              transition: all 0.1s linear;
            }
          }

          &:disabled {
            color: $MMiddleGray;
            text-decoration: underline;
            pointer-events: none;

            svg {
              fill: $MMiddleGray;
            }
          }
    }

    &__second-row {
        font-weight: 600;
        font-size: 24px;
        color: $MMiddleGray;
        margin: 12px 0 16px;
        display: flex;
        gap: 12px;
    }
  &--foreign-page{
    & h1 {
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
    }

    & h2 {
      font-weight: 600;
      font-size: 24px;
      color: $MMiddleGray;
      margin: 12px 0 16px;
    }

    & p {
      max-width: 785px;
      justify-self: end;
      align-self: flex-end;
    }
  }

    &__search{
        white-space: nowrap;
    }
    &__result{
        color: $MBlack;
        max-width: 450px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


  &--main-page{
    h2{
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
    }
    h3{
      font-weight: 600;
      font-size: 24px;
      color: $MMiddleGray;
      margin: 12px 0 16px;
    }
    p{
      max-width: 785px;
      justify-self: end;
      align-self: flex-end;
    }
  }

    @include mobile {
      a > span {
        display: none;
      }
        &--foreign-page{
          h1 {
            font-size: 32px;
            line-height: 110%;
          }
          h2{
            font-size: 18px;
            line-height: 125%;
          }

          &__link {
            padding-bottom: 0;
          }
          p {
            line-height: 125%;
          }
        }



      &--main-page{
          h2{
            font-size: 32px;
            line-height: 110%;
          }
          h3{
            font-size: 18px;
            line-height: 125%;
          }
          p{
            line-height: 125%;
          }

      }
    }




}