.swiper-main {
  &__pagination {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    height: 24px;
    bottom: 8px;
    align-items: center;
    position: absolute;
  }

  &__wrapper-pagination {
    width: 168px;
    position: absolute;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%);
  }

  &__background-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-position: right;
    object-fit: cover;
    z-index: -1;
  }

  .swiper {
    position: relative;
    z-index: 2;
    border-radius: 20px;
    &-wrapper {
      height: fit-content;
    }
    &-slide {
      position: relative;
      height: fit-content;
      border-radius: 20px;
    }

    &-pagination-bullet {
      width: 11px;
      height: 10px;
      background: $MWhite;
      opacity: 1;
      &-active {
        background: $GMediumG;
      }
    }

    &-main {
      &__content {
        overflow: hidden;
        height: 100%;
        padding: 37px 96px 35px;
        color: $MWhite;
        display: flex;
        flex-direction: column;
      }

      &__text {
        margin-top: 40px;
        background: $MTBlackBg;
        border-radius: 16px;
        padding: 12px 24px;
        max-width: 500px;
      }

      &__link {
        display: block;
        margin-top: 20px;
        max-width: 186px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-text {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 20px;
        }
      }

      &__text-list {
        display: flex;
        flex-direction: column;
        gap: 3px;
      }
      &__wrapper-arrow {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__wrapper-burger{
        display: none;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
      }

      &__phone-img {
        position: absolute;
        right: 96px;
      }
      &__title {
        font-size: 48px;
        font-weight: 700;
        color: $MWhite;
        line-height: 100%;
      }

      &__left {
        max-width: 568px;
      }

      &__button-prev,
      &__button-next {
        position: absolute;
        height: 48px;
        width: 48px;
        top: 43.5%;
        z-index: 3;
        border-radius: 60px;
        padding: 12px;
      }

      &__button-next {
        right: 8px;
        transform: rotate(-90deg);
      }

      &__button-prev {
        left: 8px;
        transform: rotate(90deg);
      }
    }
  }

  .swiper-button-disabled {
    filter: grayscale(100%);
    pointer-events: none;
  }

  @include table {
    padding-top: 40px;
  }

  @include mobile {
  .swiper{
    &-main{
      &__wrapper-arrow{
        display: none;
      }
      &__wrapper-burger{
        display: flex;
      }
    }
  }

    padding-top: 0;

    .container {
      padding: 0;
    }

    &__background-img {
      object-position: 75%;
    }

    .swiper-main {
      &__button-prev,
      &__button-next {
        top: auto;
        bottom: 8px;
      }

      &__title {
        font-size: 32px;
        line-height: 110%;
      }

      &__content {
        padding: 32px 20px 86px;
      }

      &__text {
        margin-top: 24px;
        max-width: 260px;
      }

      &__link {
        margin-top: 16px;
      }
    }
    .swiper {
      border-radius: 0;
      &-main {
        &__button-next {
          right: 5%;
        }
        &__button-prev {
          left: 5%;
        }
      }
    }
  }
}
#images {
  display: none;
}

.swiper-main{
    .swiper{
      .swiper-main__wrapper-pagination{

        .swiper-pagination-bullets-dynamic{
          left: 25%;
        }
      }


  }
}
