.blog-page {
  &__swiper {
    .swiper {
      &-slide {
        display: flex;
        position: relative;
      }
    }
    .subscribe-link {
      position: absolute;
      border-radius: 60px;
      bottom: 18px;
      left: 50%;
      transform: translateX(-50%);
      &__text {
        font-size: 16px;
      }
      @include table {
        bottom: 12px;
      }
    }
  }
  &__news {
    .swiper{
      overflow: visible;
    }
    &-container{
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 40px;
    }

    .swiper-slide {
      width: fit-content;
      margin-right: 12px;
    }
  }
}

.page-banner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 40px;
  &__container {
    display: flex;
    gap: 60px;
    background-color: $GLightG;
    padding-left: 40px;
    height: min(100%, 350px);
    border-radius: 20px 40px 40px 20px;
  }
  &__title {
    font-size: 48px;
    color: $GMediumG;
    font-weight: 700;
    padding-bottom: 40px;
    line-height: 100%;
  }

  &__info {
    flex: 1 0 560px;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }

  &__description {
    background-color: rgb(255, 255, 255, 40%);
    border-radius: 16px;
    padding: 12px 24px;
    &-text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    // min-height: 38px;
    color: $MBlack;
  }
  }

  &__photo {
    flex: 1 1 700px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 40px;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  .btn {
    width: 168px;
    height: 48px;
  }
  &__side-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
  }
  &__time-date {
    display: flex;
    color: $MMiddleGray;
    gap: 12px;
  }
  &__footer-info {
    color: $GSupportDG;
  }
  @include table {
    padding: 40px 0;
    &__container {
      flex-direction: column-reverse;
      padding-left: 0;
      gap: 40px;
      max-width: none;
      height: auto;
    }

    &__info {
      flex: 1 1 auto;
      padding: 0 20px 20px;
    }
    &__title {
      font-size: 32px;
      line-height: 110%;
    }
    &__photo {
      max-height: 425px;
      display: flex;
      flex: 1 1 auto;
      img {
        height: auto;
        max-height: 100%;
      }
    }
  }
  @include mobile {
    &__photo {
      aspect-ratio: 1 / 2;
    }
  }
}
