.catalog {
    overflow: hidden;
    &__categories {
        padding-bottom: 40px;
        .swiper {
            overflow: visible;
            &-wrapper {
                flex-wrap: wrap;
                gap: 12px;
            }

            &-slide {
                width: fit-content;
            }
        }
    }
    @include table {
        &__categories {
            .swiper {
                &-wrapper {
                    flex-wrap: nowrap;
                    column-gap: 0;
                }

                &-slide {
                    width: fit-content;
                    margin-right: 12px;
                }
            }
        }
    }
}