.catalog {
    &__section-title{
        font-size: 48px;
        line-height: 100%;
        padding-bottom: 40px;
        font-weight: 700;
    }
    &__categories {
        padding-bottom: 40px;
        .swiper {
            overflow: visible;
            &-wrapper {
                flex-wrap: wrap;
                gap: 12px;
            }

            &-slide {
                width: fit-content;
            }
        }
    }
    @include table {
        &__categories {
            .swiper {
                &-wrapper {
                    flex-wrap: nowrap;
                    column-gap: 0;
                }

                &-slide {
                    width: fit-content;
                    margin-right: 12px;
                }
            }
        }
    }
    @include mobile{
        &__section-title{
            font-size: 32px;
            line-height: 110%;
            padding-bottom: 16px;
        }
    }
}