.club-card {
    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &__photo{
        border-radius: 40px;
    }
    &__container-photo{
        display: flex;
        justify-content: center;
    }
}