.collections{
    &__content{
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    
    @include mobile{
        overflow: hidden;
        &__content{
            gap: 40px;
        .swiper{
            overflow: visible;
        }
        .item-swiper{
            &__ui{
                display: none;
            }
        }
    }
    }
}