.collections{
    &__content{
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    
    @include mobile{
        overflow: hidden;
        .swiper{
            overflow: visible;
        }
    }
}