.header {
  padding: 12px 0px;
  background-color: $MWhite;
  z-index: 50;
  width: 100%;

  .search {
    max-width: 313px;
  }

  #button {
    height: 50px;
    width: 100px;
  }

  &__wrapper-bottom,
  &__wrapper-up {
    width: 100%;
    background-color: $MWhite;
  }

  &__fixed {
    position: fixed;
    top: 0;

    .header {
      &__container {
        position: relative;
      }

      &__wrapper-bottom {
        position: absolute;
        padding: 14px 0;
        top: 100%;
        z-index: -1;
        transition: all 0.3s ease-in-out;
      }
    }

    &--hidden {
      .header {
        &__wrapper-bottom {
          top: 0;
        }
      }
    }
  }

  &__up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 14px;

    &-right {
      display: flex;
      align-items: center;
      gap: 40px;
      flex: 1 1 auto;
      justify-content: end;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    svg {
      width: 100%;
    }
  }

  &__line {
    flex: 0 0 auto;
    width: 2px;
    height: 24px;
    background-color: $MLightGray;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex: 1 1 auto;

    &-left {
      display: flex;
      align-items: center;
      gap: 24px;

      .category {
        text-transform: uppercase;

        svg {
          transition: all 0.3s ease-in-out;
        }

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            svg {
              fill: $GMediumG;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }

      .btn-toggle__button {
        text-transform: uppercase;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      gap: 16px;

      &-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
        overflow: hidden;
        height: 40px;
        justify-content: flex-end;
      }
    }
  }

  .menu {
    &--hidden {
      display: none;
    }

    .swiper-button {
      width: 28px;
      height: 28px;
      border-radius: 100%;
      top: inherit;
      bottom: 50%;
      transform: translateY(50%);
      box-shadow: 4px 2px 5px 0px rgba(34, 60, 80, 0.2);

      &-next {
        right: -24px;

        &::after {
          content: '';
          background-image: url('/assets/images/pagination-arrow.svg');
          background-repeat: no-repeat;
          background-position: center;
          width: 8px;
          height: 13px;
        }
      }

      &-prev {
        left: -28px;

        &::after {
          content: '';
          background-image: url('/assets/images/pagination-arrow.svg');
          background-repeat: no-repeat;
          background-position: center;
          width: 8px;
          height: 13px;
          transform: rotate(180deg);
        }
      }
    }

    .btn-toggle {
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          .btn-toggle__catalog {
            opacity: 1;
            visibility: visible;
            transition: all 0.5s ease-in-out;
          }
        }
      }

      &__items {
        &-stage {
          &--active {
            color: $GSupportDG;
            background-color: $GLightG;

            .btn-toggle__catalog-text {
              color: $GSupportDG;
              background-color: $GLightG;
            }
          }

          @media (hover: hover) and (pointer: fine) {
            &:hover {
              color: $GSupportDG;
              background-color: $GLightG;

              .btn-toggle__catalog-text {
                color: $GSupportDG;
                background-color: $GLightG;
              }
            }
          }
        }
      }
    }
  }


  @include table {
    &__container {
      gap: 0;
    }

    &__up {
      gap: 55px;

      &-right {
        display: none;
      }
    }

    &__fixed {
      top: 0%;

      transition: top 0.3s ease-in-out;

      &--hidden {
        top: -15%;
        transition: top 0.3s ease-in-out;
      }
    }

    &__wrapper-bottom {
      display: none;
    }
  }

  @include mobile {
    &__logo {
      width: 240px;
      height: 50px;
    }
  }
}