.photo-studio{
    &__img-wrapper{
        position: relative;
        img{
            position: absolute;
            height: 100%;
        }
    }
    .swiper{
        &-slide{
            max-height: 580px;
        }
    }
}