.product-details {
  &__header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__main {
    display: flex;
    gap: 40px;
  }

  &__swiper-item {
    flex: 1 1 600px;

    img {
      border-radius: 40px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1 1 720px;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
  }

  &__price {
    &-title {
      font-weight: 600;
      font-size: 24px;
    }
  }

  .subheader {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 12px;

    &__title {
      font-weight: 600;
      font-size: 24px;
    }
  }

  &__characteristics {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 100%;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      gap: 12px;
    }
    &-quantity{
      background-color: #fff;
      position: relative;
      z-index: 1;


    //  maybe
      max-width: 50%;
    }

    &-characteristic {
      background-color: #fff;
      flex: 1 0 200px;
      position: relative;
      z-index: 1;

      //maybe
      //max-width: fit-content;


      //&:after{
      //  content: "";
      //  width: 200%;
      //  border-bottom: dotted 2px $MMiddleGray;
      //  position: absolute;
      //  top: 5px;
      //  z-index: -1;
      //}
      //overflow: hidden;
      //position: relative;
      //
      //&:after{
      //  content: "";
      //  border-bottom: dotted 2px $MMiddleGray;
      //  width: 100%;
      //  position: absolute;
      //}
    }

    &-border {
      flex: 1 1 auto;
      border-bottom: dotted 2px $MMiddleGray;

      // maybe
      height: 16px;
    }
  }

  @include table {

    &__header {
      padding: 0 20px;
    }
  }

  @include table {
    
    &__main {
      flex-direction: column;
      gap: 60px;
    }

    &__swiper-item {
      flex: 1 1 auto;
    }

    &__info {
      flex: 1 1 auto;
    }

    &__similar,
    &__watched {
      .swiper {
        overflow: visible;
      }

      .item-swiper__ui {
        display: none;
      }
    }

    &__title {
      font-size: 32px;
      line-height: 110%;
    }
  }

  @include smallMobile {
    &__characteristics {
      &-item {
        gap: 0;
      }
    }

    &__title {
      font-size: 30px;
    }

    .subheader {
      &__title {
        font-size: 22px;
      }
    }
  }
}