.product-details {
  &__header{
    max-width: 1440px;
  margin: 0 auto;
  padding: 0px 40px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__main {
    display: flex;
    gap: 40px;
  }

  &__swiper-item {
    min-width: 0;
    flex-grow: 1;
    max-width: 700px;
    align-self: center;

    img {
      border-radius: 40px;
    }
  }


  &__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
  }

  &__price {
    &-title {
      font-weight: 600;
      font-size: 24px;
    }
  }

  .subheader {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 12px;

    &__title {
      font-weight: 600;
      font-size: 24px;
    }
  }

  &__characteristics {

    &-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 100%;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      gap: 12px;
    }

    &-characteristic {
      overflow: hidden;
      // &::after{
      //   content: ".........................................................................................................................................................";
      //   overflow: hidden;
      // }
    }

    &-border {
      flex: 1 1 auto;
      border-bottom: dotted 2px $MMiddleGray;
    }
  }
@include table{
  &__header{
    padding: 0 20px;
  }
}
  @include mobile {
    &__main {
      flex-direction: column;
      gap: 60px;
    }

    &__similar,
    &__watched {
      .swiper {
        overflow: visible;

      }

      .item-swiper__ui {
        display: none;
      }
    }

    &__title {
      font-size: 32px;
      line-height: 110%;
    }
  }
  @include smallMobile{
    &__characteristics{
      &-item {
        gap: 0;
      }
    }
  }


}