.section-header{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    &__first-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
    }
    &__link{
        display: flex;
        align-items: center;
        padding-bottom: 8px;
        gap: 10px;
        color: $GMediumG;
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        svg{
            fill: $GMediumG;
            transform: rotate(-90deg);
        }
    }
    &__second-row{
        font-weight: 600;
        font-size: 24px;
        color: $MMiddleGray;
        margin: 12px 0 16px;
    }
    &__third-row{
        max-width: 785px;
        justify-self: end;
        align-self: flex-end;
    }

  }