.services {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @include mobile {

        .section-header {
            &__second-row {
                width: 90%;
            }
        }

        .offer-card {
            flex: 1 1 182px;
        }
    }
}