.swiper-main {
  &__pagination {
    display: flex;
    gap: 12px;
    height: 24px;
    bottom: 8px;
    align-items: center;
    position: absolute;
    &-wrapper {
      width: 168px;
      position: absolute;
      left: 50%;
      z-index: 5;
      transform: translateX(-50%);
    }
    
  }
  .swiper {
    position: relative;
    &-wrapper {
      height: fit-content;
    }
    &-slide {
      height: fit-content;
      border-radius: 20px;
    }
    &-pagination-bullet {
      width: 11px;
      height: 10px;
      background: $MWhite;
      opacity: 1;
      &-active {
        background: $GMediumG;
      }
    }
    
    // <-------------> для картинок на фон слайдов
    &-slide-duplicate{
      background: url('../../assets/images/mainSwiper.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
    }
    &-slide:nth-child(2) {
      background: url('../../assets/images/mainSwiper.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
    }

    // <------------>

    &-main {
      &__content {
        position: relative;
        overflow: hidden;
        height: 100%;
        border-radius: 20px;
        padding: 37px 96px 35px;
        color: $MWhite;
        display: flex;
        flex-direction: column;
      }
      &__text {
        margin-top: 40px;
        background: $MTBlackBg;
        border-radius: 16px;
        padding: 12px 24px;
        max-width: 500px;
      }
      &__link {
        display: block;
        margin-top: 20px;
        max-width: 186px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-text {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 20px;
        }
        // &-arrow{
        //     fill: $GMediumG
        // }
      }
      &__arrow-wrapper {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__phone-img {
        position: absolute;
        right: 96px;
      }
      &__title {
        font-size: 48px;
        font-weight: 700;
        color: $MWhite;
      }
      &__left {
        max-width: 568px;
      }
    }
  }
  & &__button-prev,
& &__button-next {
  position: absolute;
  height: 48px;
  width: 48px;
  top: 47.5%;
  z-index: 3;
  border-radius: 60px;
  padding: 12px;
}
& &__button-next {
  right: 8px;
  transform: rotate(-90deg);
}
& &__button-prev {
  left: 8px;
  transform: rotate(90deg);
}
.swiper-button-disabled {
  filter: grayscale(100%);
  pointer-events: none;
}

}
