.product-card__wrapper{
  display: flex;
}

.play-button{
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    input{
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      opacity: 0;
    }
    &__play{
      flex: 1 0 auto;
    }
    &__pause{
      flex: 1 0 auto;
      display: none;
    }
    input:checked {
      & ~ .play-button{
        &__play{
          display: none;
        }
        &__pause{
          display: block;
        }
      }
    }
    input:checked{
      &~.play{
        display: none;
        // &:first-child{
        //   display: none;
        // }
      &~.pause{
        display: block;
        flex: 1 0 auto;
      }
      }
    }
}

.pages {
    padding: 20px;
  
    &__table {
      &-item {
        cursor: pointer;
        display: flex;
  
        &-box {
            background-color: #fff;
          position: fixed;
          top: 0;
          right: 0;
          width: 85%;
          flex: 1 1 auto;
          display: none;
          height: 100%;
  
          iframe {
            width: 100%;
            height: 100%;
          }
        }
  
        a {
          width: calc(15% - 40px);
          position: relative;
          padding: 10px 0px 10px 00px;
        //   color: $primary1;
        //   font-family: $FInter, $FDefault;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          border-bottom: 1px solid #000000;
        }
  
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            .pages__table-item-box {
              display: block;
            }
          }
        }
  
        &--new {
          a {
            // color: $primary4;
          }
        }
  
        span:hover + .pages__table-item-box {
          display: block;
        }
  
        .pages__table-item-box:hover {
          display: block;
        }
      }
    }
  }