mixin blog
    section.blog 
        .container 
            .blog__header.section-header
                .section-header__first-row
                    h2.section-header__title Блог
                    a(href="##").section-header__link.btn--transparent.btn
                        .section-header__link-text Смотреть все
                        svg(width="24" height='24').section-header__link-img
                            use(href="../assets/icons/sprite.svg#selectArrow")
                .section-header__second-row Всегда актуальная информация!
                .section-header__third-row Все о растениях, трендах, лайфхаках и уходе. Следите за новостями, акциями, смотрите рилсы со свежими идеями и вдохновляйтесь!
            .blog__main
                .blog__news 
                    a(href="##").blog__news-card.news-card
                        .news-card__wrapper-img
                            .news-card__hover
                                .news-card__hover-text Подробнее
                                svg(width="15" height="15")
                                    use(href="../assets/icons/sprite.svg#link-arrow")
                            img(src="../assets/images/newsCards/cuttingGrass.png" alt="").news-card__img
                        .news-card__info 
                            .news-card__header 
                                .news-card__title Название новости
                                .news-card__tag Новости
                            .news-card__main Описание новости на одну-две строчки максимально для того что бы пометилось то, что точно надо
                            .news-card__footer
                                .news-card__footer-main
                                    .news-card__time-date
                                        .news-card__time 16:45
                                        .news-card__date 06.12.2024
                                    .news-card__footer-info @imya_autora
                                .news-card__tag-mobile Новости
                    a(href="##").blog__news-card.news-card
                        .news-card__wrapper-img
                            .news-card__hover
                                    .news-card__hover-text Подробнее
                                    svg(width="15" height="15")
                                        use(href="../assets/icons/sprite.svg#link-arrow")
                            img(src="../assets/images/newsCards/cuttingGrass.png" alt="").news-card__img
                        .news-card__info 
                            .news-card__header 
                                .news-card__title Название новости
                                .news-card__tag Новости
                            .news-card__main Описание новости на одну-две строчки максимально для того что бы пометилось то, что точно надо
                            .news-card__footer
                                .news-card__footer-main
                                    .news-card__time-date
                                        .news-card__time 16:45
                                        .news-card__date 06.12.2024
                                    .news-card__footer-info @imya_autora
                                .news-card__tag-mobile Новости
                    
                    a(href="##").blog__news-card.news-card
                        .news-card__wrapper-img
                            .news-card__hover
                                .news-card__hover-text Подробнее
                                svg(width="15" height="15")
                                    use(href="../assets/icons/sprite.svg#link-arrow")
                            img(src="../assets/images/newsCards/cuttingGrass.png" alt="").news-card__img
                        .news-card__info 
                            .news-card__header 
                                .news-card__title Название новости
                                .news-card__tag Новости
                            .news-card__main Описание новости на одну-две строчки максимально для того что бы пометилось то, что точно надо
                            .news-card__footer
                                .news-card__footer-main
                                    .news-card__time-date
                                        .news-card__time 16:45
                                        .news-card__date 06.12.2024
                                    .news-card__footer-info @imya_autora
                                .news-card__tag-mobile Новости
                    
                .blog__swiper
                        .swiper.item-swiper
                            .swiper-wrapper 
                                .swiper-slide.fancybox-trigger
                                    .blog__swiper-content
                                        img(src="../assets/images/videos/previews/video1.png", alt="")
                                                //- video(src="../assets/videos/video.mp4" controls poster="../assets/images/videos/previews/video1.png")
                                        a(href="##").subscribe-link.subscribe-link--telegram
                                            svg(width="24" height="24" fill="white")
                                                use(href="../assets/icons/sprite.svg#tg") 
                                        button.play-button
                                            svg(height="24" width="24")
                                                use(href="../assets/icons/sprite.svg")
                                            .subscribe-link__text подписаться
                                    //- .subscribe- 
                                .swiper-slide.fancybox-trigger
                                    .blog-swiper__content
                                        img(src="../assets/images/videos/previews/video2.png", alt="")
                                        a(href="##").subscribe-link.subscribe-link--vkontakte
                                            svg(width="24" height="24" fill="white")
                                                use(href="../assets/icons/sprite.svg#tg") 
                                            .subscribe-link__text подписаться
                                    //- video(src="../assets/videos/video.mp4" controls poster="../assets/images/videos/previews/video1.png") 
                                .swiper-slide.fancybox-trigger
                                    .blog-swiper__content
                                        img(src="../assets/images/videos/previews/video1.png", alt="")
                                    a(href="##").subscribe-link.subscribe-link--telegram
                                            svg(width="24" height="24" fill="white")
                                                use(href="../assets/icons/sprite.svg#tg") 
                                            .subscribe-link__text подписаться
                                    //- video(src="../assets/videos/video.mp4" controls poster="../assets/images/videos/previews/video1.png") 
                                .swiper-slide.fancybox-trigger
                                    .blog-swiper__content
                                        img(src="../assets/images/videos/previews/video2.png", alt="")
                                        a(href="##").subscribe-link.subscribe-link--vkontakte
                                            svg(width="24" height="24" fill="white")
                                                use(href="../assets/icons/sprite.svg#tg") 
                                            .subscribe-link__text подписаться
                                    //- video(src="../assets/videos/video.mp4" controls poster="../assets/images/videos/previews/video1.png") 
                                .swiper-slide.fancybox-trigger
                                    .blog-swiper__content    
                                        img(src="../assets/images/videos/previews/video1.png", alt="")
                                        a(href="##").subscribe-link.subscribe-link--telegram
                                            svg(width="24" height="24" fill="white")
                                                use(href="../assets/icons/sprite.svg#tg") 
                                            .subscribe-link__text подписаться
                                    //- video(src="../assets/videos/video.mp4" controls poster="../assets/images/videos/previews/video1.png") 
                            .item-swiper__ui
                                button.item-swiper__button-prev.btn.btn--light-green
                                    svg(width="24" height='24')
                                        use(href="../assets/icons/sprite.svg#selectArrow")
                                .item-swiper__wrapper-pagination 
                                    .item-swiper__pagination 
                                button.item-swiper__button-next.btn.btn--light-green
                                    svg(width="24" height='24')
                                        use(href="../assets/icons/sprite.svg#selectArrow")
            .blog__footer.attraction.attraction--reversed
                img(src="../assets/images/happyGrandad.png" alt="").attraction__img
                .attraction__info
                    .attraction__text
                        .attraction__title Вырастил? Поделись!
                        .attraction__main Присоединяйтесь к нашему уютному сообществу единомышленников! Делитесь фотографиями своих растений, обменивайтесь опытом, вдохновляйтесь идеями и находите поддержку. Подписывайтесь на нашу беседу в Telegram — создадим зеленый уголок в сети вместе!
                        //- .attraction__figure
                    .attraction__info-bottom
                        a(href="#").attraction__link.btn.btn--dark-green
                            .attraction__link-text присоединиться
                            svg(height="24" width="24").attraction__link-icon
                                use(href="../assets/icons/sprite.svg#selectArrow")