mixin blog
    section.blog 
        .container 
            .blog__header.section-header
                .section-header__first-row
                    h2.section-header__title Блог
                    a(href="##").section-header__link.link
                        .section-header__link-text Смотреть все
                        svg(width="24" height='24').section-header__link-img
                            use(href="../assets/icons/sprite.svg#selectArrow")
                .section-header__second-row Всегда актуальная информация!
                .section-header__third-row Все о растениях, трендах, лайфхаках и уходе. Следите за новостями, акциями, смотрите рилсы со свежими идеями и вдохновляйтесь!
            .blog__main 
                .blog__news 
                    .blog__news-card.news-card
                        .img-wrapper
                            img(src="../assets/images/newsCards/cuttingGrass.png" alt="").news-card__img
                        .news-card__info 
                            .news-card__header 
                                .news-card__title Название новости
                                .news-card__tag.btn.btn--light-green Новости
                            .news-card__main Описание новости на одну-две строчки максимально для того что бы пометилось то, что точно надо
                            .news-card__footer 
                                .news-card__time-date 
                                    .news-card__time 16:45
                                    .news-card__date 06.12.2024
                                .news-card__user-id @imya_autora
                    .blog__news-card.news-card
                        .img-wrapper
                            img(src="../assets/images/newsCards/cuttingGrass.png" alt="").news-card__img
                        .news-card__info 
                            .news-card__header 
                                .news-card__title Название новости
                                .news-card__tag.btn.btn--light-green Новости
                            .news-card__main Описание новости на одну-две строчки максимально для того что бы пометилось то, что точно надо
                            .news-card__footer 
                                .news-card__time-date 
                                    .news-card__time 16:45
                                    .news-card__date 06.12.2024
                                .news-card__user-id @imya_autora
                    .blog__news-card.news-card
                        .img-wrapper
                            img(src="../assets/images/newsCards/cuttingGrass.png" alt="").news-card__img
                        .news-card__info 
                            .news-card__header 
                                .news-card__title Название новости
                                .news-card__tag.btn.btn--light-green Новости
                            .news-card__main Описание новости на одну-две строчки максимально для того что бы пометилось то, что точно надо
                            .news-card__footer 
                                .news-card__time-date 
                                    .news-card__time 16:45
                                    .news-card__date 06.12.2024
                                .news-card__user-id @imya_autora
                .blog__swiper
                    .swiper.item-swiper
                        .swiper-wrapper 
                            .swiper-slide 
                                img(src="../assets/images/videos/previews/video1.png", alt="")
                                //- video(src="" poster="../assets/images/videos/previews/video1.png") 
                            .swiper-slide 
                                img(src="../assets/images/videos/previews/video1.png", alt="")
                                //- video(src="" poster="../assets/images/videos/previews/video1.png") 
                            .swiper-slide 
                                img(src="../assets/images/videos/previews/video1.png", alt="")
                                //- video(src="" poster="../assets/images/videos/previews/video1.png") 
                            .swiper-slide 
                                img(src="../assets/images/videos/previews/video1.png", alt="")
                                //- video(src="" poster="../assets/images/videos/previews/video1.png") 
                            .swiper-slide 
                                img(src="../assets/images/videos/previews/video1.png", alt="")
                                //- video(src="" poster="../assets/images/videos/previews/video1.png") 
                            //-     .swiper-slide
                            //-     +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            //- .swiper-slide
                            //-     +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            //- .swiper-slide
                            //-     +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            //- .swiper-slide
                            //-     +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            //- .swiper-slide
                            //-     +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            //- .swiper-slide
                            //-     +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            //- .swiper-slide
                        .item-swiper__ui
                            button.item-swiper__button-prev.btn.btn--light-green
                                svg(width="24" height='24')
                                    use(href="../assets/icons/sprite.svg#selectArrow")
                            .item-swiper__pagination-wrapper 
                                .item-swiper__pagination 
                            button.item-swiper__button-next.btn.btn--light-green
                                svg(width="24" height='24')
                                    use(href="../assets/icons/sprite.svg#selectArrow")
            .blog__footer.attraction.attraction--reversed
                img(src="../assets/images/happyGrandad.png" alt="").attraction__img
                .attraction__info
                    .attraction__text
                        .attraction__title Вырастил? Поделись!
                        .attraction__main Присоединяйтесь к нашему уютному сообществу единомышленников! Делитесь фотографиями своих растений, обменивайтесь опытом, вдохновляйтесь идеями и находите поддержку. Подписывайтесь на нашу беседу в Telegram — создадим зеленый уголок в сети вместе!
                    //- svg(height="88" width='100').attraction__info-card
                                use(href="../assets/icons/sprite.svg#attentionBottom")
                    a(href="#").attraction__link.btn.btn--dark-green
                        .attraction__link-text Присоедениться
                        svg(height="24" width="24").attraction__link-icon
                            use(href="../assets/icons/sprite.svg#selectArrow")