mixin clients 
    section.clients 
        .container
            .clients__header.section-header
                .section-header__first-row
                    h2.section-header__title Наши клиенты
                .section-header__second-row Работаем на результат!
                .section-header__third-row Нам доверяют те, кто ценит качество, надежность и профессионализм. Мы создаем зеленые пространства, которые вдохновляют и радуют.
        .clients__marquee-wrapper 
            .clients__marquee.marquee
                .marquee__inner
                    img(src="../assets/images/clients/monitor.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/voshod.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/lider.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/erudit.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/whiteRus.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/patricAndMari.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/KBL.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/ekaterinaDar.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/FGNBY.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/anastasia.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/krasnodog.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/monitor.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/voshod.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/lider.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/erudit.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/whiteRus.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/patricAndMari.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/KBL.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/ekaterinaDar.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/FGNBY.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/anastasia.png" alt="" loading='lazy').clients__marquee-img
                    img(src="../assets/images/clients/krasnodog.png" alt="" loading='lazy').clients__marquee-img