mixin guarantees 
    section.guarantees 
        .container 
            .guarantees__header.section-header
                .section-header__first-row
                    h2.section-header__title Мы гарантируем
                .section-header__second-row Ответственность в каждом шаге!
                .section-header__third-row
                    | От выбора растений до реализации проекта — мы гарантируем надежность, профессионализм и результат, который будет радовать Вас каждый день!
            .guarantees__main       
                .guarantees__promotion-card.promotion-card 
                    .promotion-card__header 
                        .promotion-card__title Широкий ассортимент
                    .promotion-card__main
                        .promotion-card__wrapper-img  
                            img(src="../assets/images/topics/expMonday.png" alt="").promotion-card__img
                        a(href="##").promotion-card__link.btn.btn--dark-green
                            svg(width="15" height="15")
                                use(href="../assets/icons/sprite.svg#link-arrow")
                .guarantees__promotion-card.promotion-card 
                    .promotion-card__header 
                        .promotion-card__title Импортная продукция
                    .promotion-card__main
                        .promotion-card__wrapper-img  
                            img(src="../assets/images/topics/girlBD.png" alt="").promotion-card__img
                        a(href="##").promotion-card__link.btn.btn--dark-green
                            svg(width="15" height="15")
                                use(href="../assets/icons/sprite.svg#link-arrow")
                .guarantees__promotion-card.promotion-card 
                    .promotion-card__header 
                        .promotion-card__title Экспертная помощь
                    .promotion-card__main
                        .promotion-card__wrapper-img  
                            img(src="../assets/images/topics/momGirl.png" alt="").promotion-card__img
                        a(href="##").promotion-card__link.btn.btn--dark-green
                            svg(width="15" height="15")
                                use(href="../assets/icons/sprite.svg#link-arrow")
            .guarantees__footer.attraction.attraction--gray
                img(src="../assets/images/happyGrandad.png" alt="").attraction__img
                .attraction__info
                    .attraction__text
                        .attraction__title Садовый центр на Атарбекова
                        .attraction__main Мы рады приветствовать вас в мире растений и уюта! 
                            | Наш садовый центр — один из крупнейших на юге России. 
                            | Вдохновленные европейскими традициями, мы более 20 лет закупаем лучшие растения с 
                            | аукционов Европы и бережно доставляем их в Россию. Среди комнатных растений, 
                            | декоративных деревьев и товаров для сада вы точно найдете то, что искали!<br>
                            | Мы также предлагаем услуги по озеленению, мастер-классы и тематические мероприятия. Вдохновляйтесь природой вместе с нами!
                        .attraction__figure
                    .attraction__info-bottom
                        a(href="#").attraction__link.btn.btn--dark-green
                            .attraction__link-text подробнее
                            svg(height="24" width="24").attraction__link-icon
                                use(href="../assets/icons/sprite.svg#selectArrow")