include ui/productCard.pug
mixin newItems 
    section.new-items 
        .container 
            .new-items__header.section-header
                .section-header__first-row
                    h2 Новинки
                    a(href="##").section-header__link.btn--transparent.btn
                        .section-header__link-text К подборке
                        svg(width="24" height='24').section-header__link-img
                            use(href=  "../assets/icons/sprite.svg#selectArrow")
                h3 Свежие поступления уже здесь!
                p Опробуйте новые товары для сада и огорода, которые мы подготовили для Вашего удобства, урожая и красоты вашего участка!
        .new-items__swiper-container.swiper-container
            .new-items__swiper
                .item-swiper
                    .swiper
                        .swiper-wrapper
                            .swiper-slide
                                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            .swiper-slide
                                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            .swiper-slide
                                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            .swiper-slide
                                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            .swiper-slide
                                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            .swiper-slide
                                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            .swiper-slide
                                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            .swiper-slide
                                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            .swiper-slide
                                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            .swiper-slide
                                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            .swiper-slide
                                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                            .swiper-slide
                                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                        .item-swiper__ui
                            button.item-swiper__button-prev.btn.btn--light-green
                                svg(width="24" height='24')
                                    use(href="../assets/icons/sprite.svg#selectArrow")
                            .item-swiper__wrapper-pagination 
                                .item-swiper__pagination 
                            button.item-swiper__button-next.btn.btn--light-green
                                svg(width="24" height='24')
                                    use(href="../assets/icons/sprite.svg#selectArrow")