mixin newItems 
    section.new-items 
        .container 
            .new-items__header.section-header
                .section-header__first-row
                    h2.section-header__title Новинки
                    a(href="#").section-header__link.link
                        .section-header__link-text К подборке
                        svg(width="24" height='24').section-header__link-img
                            use(href="../assets/icons/sprite.svg#selectArrow")
                .section-header__second-row Свежие поступления уже здесь!
                .section-header__third-row Опробуйте новые товары для сада и огорода, которые мы подготовили для Вашего удобства, урожая и красоты вашего участка!
            .swiper
                .product-card
                    .product-card__photo
                        img(src="../../assets/images/flowers/sansevieria.png", alt="сансеверия")
                    .product-card__content
                        .product-card__title 
                        .product-card__footer
                            .product-card__price от 1200 Р
                            a(href="").product-card__link.btn.btn--dark-green
                                svg(width="24" height="24")
                                    use(href="../assets/icons/sprite.svg#link-arrow")