mixin swiperMain
  section.swiper-main
    .container
      .swiper
        .swiper-wrapper
          .swiper-slide 
            img(src="../assets/images/mainSwiper/mainSwiper.png", alt="").swiper-main__background-img
            .swiper-main__content
              .swiper-main__left
                h2.swiper-main__title Большущий <br> заголовок баннера
                .swiper-main__text 
                  .swiper-main__text-main текстик на три-четыре строчечки с каким-то с наполнением, может быть даже со списочком:
                  ul.swiper-main__text-list 
                    li.swiper-main__list-item разочек,
                    li.swiper-main__list-item другой,
                    li.swiper-main__list-item третий
                a(href="#").swiper-main__link.btn--light-green.btn
                  .swiper-main__link-text перейти
                  .swiper-main__wrapper-arrow
                    svg(width="15" height="15").swiper-main__link-arrow
                      use(href="../assets/icons/sprite.svg#link-arrow" )
          .swiper-slide
            img(src="../assets/images/mainSwiper/mainSwiper.png", alt="").swiper-main__background-img
            .swiper-main__content
              .swiper-main__left
                h2.swiper-main__title Большущий заголовок баннера
                .swiper-main__text 
                  .swiper-main__text-main текстик на три-четыре строчечки с каким-то с наполнением, может быть даже со списочком:
                  ul.swiper-main__text-list 
                    li.swiper-main__list-item разочек,
                    li.swiper-main__list-item другой,
                    li.swiper-main__list-item третий
                a(href="#").swiper-main__link.btn--light-green.btn
                  .swiper-main__link-text перейти
                  .swiper-main__wrapper-arrow
                    svg(width="15" height="15").swiper-main__link-arrow
                      use(href="../assets/icons/sprite.svg#link-arrow" )
          .swiper-slide
            img(src="../assets/images/mainSwiper/mainSwiper.png", alt="").swiper-main__background-img 
            .swiper-main__content
              .swiper-main__left
                h2.swiper-main__title Большущий заголовок баннера
                .swiper-main__text 
                  .swiper-main__text-main текстик на три-четыре строчечки с каким-то с наполнением, может быть даже со списочком:
                  ul.swiper-main__text-list 
                    li.swiper-main__list-item разочек,
                    li.swiper-main__list-item другой,
                    li.swiper-main__list-item третий
                a(href="#").swiper-main__link.btn--light-green.btn
                  .swiper-main__link-text перейти
                  .swiper-main__wrapper-arrow
                    svg(width="15" height="15").swiper-main__link-arrow
                      use(href="../assets/icons/sprite.svg#link-arrow" )
          .swiper-slide
            img(src="../assets/images/mainSwiper/mainSwiper.png", alt="").swiper-main__background-img 
            .swiper-main__content
              .swiper-main__left
                h2.swiper-main__title Большущий заголовок баннера
                .swiper-main__text 
                  .swiper-main__text-main текстик на три-четыре строчечки с каким-то с наполнением, может быть даже со списочком:
                  ul.swiper-main__text-list 
                    li.swiper-main__list-item разочек,
                    li.swiper-main__list-item другой,
                    li.swiper-main__list-item третий
                a(href="#").swiper-main__link.btn--light-green.btn
                  .swiper-main__link-text перейти
                  .swiper-main__wrapper-arrow
                    svg(width="15" height="15").swiper-main__link-arrow
                      use(href="../assets/icons/sprite.svg#link-arrow" )
          .swiper-slide
            img(src="../assets/images/mainSwiper/mainSwiper.png", alt="").swiper-main__background-img 
            .swiper-main__content
              .swiper-main__left
                h2.swiper-main__title Большущий заголовок баннера
                .swiper-main__text 
                  .swiper-main__text-main текстик на три-четыре строчечки с каким-то с наполнением, может быть даже со списочком:
                  ul.swiper-main__text-list 
                    li.swiper-main__list-item разочек,
                    li.swiper-main__list-item другой,
                    li.swiper-main__list-item третий
                a(href="#").swiper-main__link.btn--light-green.btn
                  .swiper-main__link-text перейти
                  .swiper-main__wrapper-arrow
                    svg(width="15" height="15").swiper-main__link-arrow
                      use(href="../assets/icons/sprite.svg#link-arrow" )
        .swiper-main__wrapper-pagination
          .swiper-main__pagination 
        button.swiper-main__button-prev.btn.btn--dark-green
          svg(width="24" height='24')
            use(href="../assets/icons/sprite.svg#selectArrow")
        button.swiper-main__button-next.btn.btn--dark-green
          svg(width="24" height='24')
            use(href="../assets/icons/sprite.svg#selectArrow")
