/* ================================ Fonts ================================ */
@import './fonts.scss';

/* ================================ Animations ================================ */
@import './_animations/**/*.scss';

/* ================================ Styles ================================ */
@import './_styles/*.scss';

/* ================================ Reset ================================ */
@import './reset.scss';

/* ================================ Base ================================ */
@import './-base/**/*.scss';

// @include mobile{
//   body:has(.breadcrumbs){
//     section{
//       padding: 12px 0;
//     }
//     .breadcrumbs{
//       padding-bottom: 32px;
//     }
//     header{
//       margin-bottom: 0;
//     }
//     .footer{
//       margin-top: 0;
//     }
//   }
// }
* {
  font-family: $FFMontserrat;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $MBlack;
}

.breadcrumbs-case {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 40px 40px;
  overflow: hidden;

  @include mobile {
    padding: 0 20px 32px;
  }
}

.annotation {
  display: flex;
  flex-direction: column;
  gap: 12px;
  &-main{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &-header{
    display: flex;
    gap: 12px;
    align-items: center ;
  }

  // & div{
  //   display: flex;
  //   gap: 12px;
  //   align-items: center;
  // }
  h4 {
    font-weight: 600;
    font-size: 24px;

    &__icon {
      svg {
        fill: $GSupportLG;
      }
    }
  }

  ul {
    list-style-position: outside;
    list-style-type: '•';
    padding-left: 15px;
    line-height: 125%;

    @include mobile {
      line-height: 130%;
    }

    li {
      list-style-position: outside;
      list-style-type: '•';
      padding-left: 10px;
    }
  }

  a {
    color: $GMediumG;
    text-transform: uppercase;

    svg {
      fill: $GMediumG;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $GSupportDG;
        transition: all 0.2s linear;

        svg {
          fill: $GSupportDG;
          transition: all 0.2s linear;
        }
      }
    }

    &:active {
      color: $GDarkG;
      transition: all 0.1s linear;

      svg {
        fill: $GDarkG;
        transition: all 0.1s linear;
      }
    }

    &:disabled {
      color: $MMiddleGray;
      text-decoration: underline;
      pointer-events: none;

      svg {
        fill: $MMiddleGray;
      }
    }
  }

  @include mobile {
    &-header {
      font-size: 18px;
    }
  }
}

.custom-list {
  ul {
    list-style-position: outside;
    list-style-type: '•';
    padding-left: 15px;
    line-height: 125%;

    @include mobile {
      line-height: 130%;
    }

    li {
      list-style-position: outside;
      list-style-type: '•';
      padding-left: 10px;
    }
  }



}

.app__content {

  padding: 40px 0;
  padding-bottom: 120px;

  section {
    &:last-child {
      padding-bottom: 0;
    }
  }

  @include mobile {
    padding-top: 12px;
    padding-bottom: 40px;

    &:has(.swiper-main) {
      padding-top: 0;
    }
  }
}

section {
  padding-bottom: 80px;

  @include mobile {
    padding-bottom: 60px;
  }
}

.swiper {
  .swiper-wrapper {
    height: auto;
  }

  .swiper-slide {
    height: auto;
  }
}

.body--active {
  overflow: hidden;
}

.page-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;

  @include mobile {
    font-size: 32px;
    line-height: 110%;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 40px;

  @include table {
    padding: 0 20px;
  }
}

.swiper-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 40px;
  overflow: hidden;

  @include table {
    padding: 0 20px;
  }
}

.link {
  color: $GMediumG;
  text-transform: uppercase;

  svg {
    fill: $GMediumG;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $GSupportDG;
      transition: all 0.2s linear;

      svg {
        fill: $GSupportDG;
        transition: all 0.2s linear;
      }
    }
  }

  &:active {
    color: $GDarkG;
    transition: all 0.1s linear;

    svg {
      fill: $GDarkG;
      transition: all 0.1s linear;
    }
  }

  &:disabled {
    color: $MMiddleGray;
    text-decoration: underline;
    pointer-events: none;

    svg {
      fill: $MMiddleGray;
    }
  }
}

.socials {
  display: flex;
  gap: 20px;
}

.social {
  display: flex;
  align-items: center;

  &--phone {
    gap: 16px;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    background-color: $GMediumG;
    border-radius: 100%;
  }

  a {
    color: $MDarkGray;
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    white-space: nowrap;
  }
}

.custom-select {
  position: relative;

  &__container {
    display: none;
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    background: #222;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    font-size: 90%;
  }
}

.custom-tooltip {
  cursor: pointer;
  position: relative;

  &--arrow {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &--open {
    .custom-tooltip {
      &__text {
        color: $GMediumG;
        transition: all 0.2s ease-in-out;
      }

      &__arrow {
        fill: $GMediumG;
        transform: rotate(180deg);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &__text {
    color: $MDarkGray;
    transition: all 0.2s ease-in-out;
  }

  &__arrow {
    fill: $MDarkGray;
    display: inline-block;
    border: none;
    width: 24px;
    height: 24px;
    right: 0px;
    margin-top: 0;
    transition: all 0.2s ease-in-out;
  }

  &__container {
    display: none;
    position: absolute;
    z-index: 999;
    width: max-content;
    top: 0;
    left: 0;
    padding: 8px;
    border-radius: 20px;
    background-color: $MWhite;
    box-shadow: 0px 4px 20px 0px rgba(#000000, 0.07);
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    width: fit-content;
    padding: 11px 12px;
    color: $MDarkGray;
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    border-radius: 60px;
    transition: all 0.2s ease-in-out;

    &--active {
      background-color: $GLightG;
      color: $GSupportDG;
      transition: all 0.2s ease-in-out;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $GLightG;
        color: $GSupportDG;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

.btn-toggle {
  position: relative;

  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;

    svg {
      transition: all 0.3s ease-in-out;
    }

    &:active {
      svg {
        fill: $GMediumG;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &__text {
    margin-left: 12px;
  }

  img {
    width: 16px;
    height: 16px;
  }

  &__catalog {
    cursor: default;
    display: flex;
    opacity: 0;
    visibility: hidden;
    max-width: 975px;
    width: auto;
    position: absolute;

    top: 44px;
    left: 0;
    z-index: 1000;
    padding: 8px;
    background-color: $MWhite;
    border-radius: 20px;
    height: 440px;
    box-shadow: 0px 0px 15px 0px rgba(26, 26, 26, 0.15);
    transition: all 0.5s ease-in-out;

    &-header {
      display: none;
    }

    &--active {
      opacity: 1;
      visibility: visible;
    }

    &-img {
      pointer-events: none;
      width: 20px;
      flex: 0 0 auto;
      height: 20px;
    }

    &-list {
      position: relative;
      padding: 0 16px;
      max-height: 431px;
      height: 100%;
      overflow: auto;

      &--disabled {
        display: none;
      }

      &-menu {
        display: none;
      }

      &:last-child {
        padding: 0;
        padding-left: 16px;
      }

      &:first-child {
        padding: 0;
        padding-right: 16px;
      }

      &:not(:last-child) {
        &::before {
          content: '';
          right: 0px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          height: 90%;
          width: 1px;
          background-color: #dcdcdc;
          border-radius: 4px;
        }
      }
    }

    &-stage {
      cursor: pointer;
      min-width: 281px;
      max-width: 281px;
      display: flex;
      justify-content: space-between;
      color: #333;
      height: 40px;

      width: 100%;
      align-items: center;

      &--active {
        .btn-toggle__catalog-text {
          color: $GSupportDG;
          background-color: $GLightG;
        }
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      &-case {
        display: flex;
        align-items: center;
      }

      &-img {
        flex: 0 0 auto;
        margin-right: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        width: 40px;
        height: 40px;
        // background-color: $primary3;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          .btn-toggle__catalog-text {
            color: $GSupportDG;
            background-color: $GLightG;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      &:active {
        .btn-toggle__catalog-text {
          color: #4a6600;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    &-text {
      font-size: 16px;
      font-weight: 600;
      line-height: 110%;
      color: $MDarkGray;
      padding: 11px 12px;
      border-radius: 60px;
    }
  }

  @media screen and (max-width: $table) {
    &__catalog {
      flex-direction: column;
      padding: 0;
      left: inherit;
      display: flex;
      position: absolute;
      top: 0;
      left: -105%;
      width: 100%;
      height: 100vh;
      opacity: 1;
      visibility: inherit;
      box-shadow: none;

      .h4 {
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        text-transform: uppercase;
        color: $MDarkGray;
      }

      &-stage {
        min-width: 100%;
        max-width: 100%;
      }

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        &-case {
          display: flex;
          align-items: center;

          svg {
            margin-right: 10px;
          }

          .h3 {
            margin-right: 10px;
            text-align: left;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }

        &-close {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          border-radius: 100%;

          svg {
            width: 16px;
            height: 16px;
          }
        }
      }

      &-list {
        padding: 28px;
        position: absolute;
        right: -130%;
        top: 0;
        width: 100%;
        height: 100%;
        max-height: 100%;
        background-color: $MWhite;
        padding: 28px;
        transition: right 0.5s ease-in-out;

        &--active {
          right: 0;
          transition: right 0.5s ease-in-out;
        }

        &:not(:last-child)::before {
          display: none;
        }

        &:first-child {
          right: inherit;
          left: 0;
          padding: 28px;
        }

        &:last-child {
          padding: 28px;
        }
      }

      &--active {
        left: 0;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

.maps {
  display: flex;
  gap: 24px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    color: $MDarkGray;
  }
}

.burger {
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  display: none;

  &--active {
    .search {
      max-width: none;
    }

    .burger {

      &__line {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: all 0.2s ease-in-out;

        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }

        &:nth-child(3) {
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
  }

  &__btn {
    cursor: pointer;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $GMediumG;
  }

  &__case {
    position: relative;
    width: 18px;
    height: 12px;
  }

  &__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $MWhite;
    transition: all 0.2s ease-in-out;

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
      visibility: visible;
    }

    &:nth-child(3) {
      top: initial;
      bottom: 0;
    }
  }

  &__modal {
    padding: 3px 20px 30px 20px;
    visibility: hidden;
    position: fixed;
    z-index: 111;
    left: -100%;
    top: 84px;
    width: 100%;
    height: calc(100dvh - 84px);
    background-color: $MWhite;
    transition: all 0.3s ease-in-out;

    &--active {
      visibility: visible;
      left: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  &__pages {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .page {
      padding: 12px 8px;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: $GLightG;
          color: $GSupportDG;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  &__socials {
    flex-wrap: nowrap;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .social {

      &--phone {

        .social {
          &__icon {
            background-color: $GMediumG;

            svg {
              fill: $MWhite;
            }
          }
        }
      }

      &__icon {
        background-color: $MWhite;

        svg {
          fill: $GMediumG;
        }
      }
    }
  }

  @include table {
    display: flex;

    &__modal {
      &--active {
        overflow-y: scroll;
      }
    }

    .search {
      margin-bottom: 15px;
      max-height: 40px;

      input {
        padding: 8px 12px;
      }
    }

    &__categories {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 16px;

      .header__category {
        padding: 8px 0px;

      }
    }
  }

  @include mobile{
    &__modal{
      top: 74px;
      width: 100%;
      height: calc(100dvh - 74px);
    }
  }

  @include mediumMobile {
    &__socials {
      flex-wrap: wrap;

      .social {
        &--phone {
          margin-left: 0;
        }
      }
    }

    &__modal {
      max-width: none;
    }
  }
}

.category {
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: $MDarkGray;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  height: 40px;

  svg {
    flex: 0 0 auto;
  }


  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $GMediumG;
      transition: all 0.2s ease-in-out;
    }
  }
}

// .fancybox__slide{
//   padding: 0;
// }
// .fancybox__content{
//   padding: 0;
//   background: transparent;
//   width: calc(100% - 50px);
//   max-width: fit-content;
//   .swiper{
//     width: 100%;
//   }
// }
.current{
    background-color: #DFE8D8;
    color: #426129;
    padding: 11px 12px;
    border-radius: 60px;
}
.page {
  padding: 11px 12px;
  border-radius: 60px;
  font-weight: 600;
  font-size: 16px;
  line-height: 110%;
  color: $MDarkGray;
  transition: all 0.3s ease-in-out;

  &.item-more {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $GLightG;
        color: $GSupportDG;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .fancybox__container {}


  &.custom-tooltip {
    padding: 8px 12px;
    padding-right: 1px;
  }

  svg {
    flex: 0 0 auto;
  }

  &--active {
    background-color: $GLightG;
    color: $GSupportDG;
    transition: all 0.2s ease-in-out;
  }
}

.hidden {
  display: none;
}

// .product-card__wrapper {
//   display: flex;
//   gap: 10px;
// }



.client-edit {
  gap: 0;
  p{
    margin-top: 40px;
    & + * {
      margin-top: 12px;
    }
  }
  h3 {
    font-weight: 600;
    font-size: 24px;
    margin-top: 40px;
    &__icon {
      svg {
        fill: $GSupportLG;
      }
    }

    & + * {
      margin-top: 12px;
    }
  }

  ul {
    list-style-position: outside;
    list-style-type: '•';
    padding-left: 15px;
    line-height: 125%;

    @include mobile {
      line-height: 130%;
    }

    li {
      list-style-position: outside;
      list-style-type: '•';
      padding-left: 10px;
    }
  }

  a {
    color: $GMediumG;
    text-transform: uppercase;

    svg {
      fill: $GMediumG;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $GSupportDG;
        transition: all 0.2s linear;

        svg {
          fill: $GSupportDG;
          transition: all 0.2s linear;
        }
      }
    }

    &:active {
      color: $GDarkG;
      transition: all 0.1s linear;

      svg {
        fill: $GDarkG;
        transition: all 0.1s linear;
      }
    }

    &:disabled {
      color: $MMiddleGray;
      text-decoration: underline;
      pointer-events: none;

      svg {
        fill: $MMiddleGray;
      }
    }
  }
}