include layouts/modules/_m-head.pug
include layouts/components/header.pug
include layouts/components/footer.pug
include layouts/components/ui/productCard.pug


html(lang='ru')
    +m-head
    body
    +header
    section.catalog
        .container 
            .catalog__breadcrumbs.breadcrumbs
                .breadcrumbs__page 
                    .breadcrumbs__text Главная
                    svg(width="24" height="24")
                        use(href="../assets/icons/sprite.svg#selectArrow")
                .breadcrumbs__page 
                    .breadcrumbs__text Каталог
                    svg(width="24" height="24")
                        use(href="../assets/icons/sprite.svg#selectArrow")
                .breadcrumbs__page.breadcrumbs--current
                    .breadcrumbs__text Горшки и кашпо
            .promotions__header.section-header
                .section-header__first-row
                    h1.section-header__title Наши акции
            .catalog__categories.categories 
                button.category__badge-tag.badge-tag Все
                button.category__badge-tag.badge-tag Амфора
                button.category__badge-tag.badge-tag бриз
                button.category__badge-tag.badge-tag бук
                button.category__badge-tag.badge-tag бутон птицы
                button.category__badge-tag.badge-tag венге
                button.category__badge-tag.badge-tag венера
                button.category__badge-tag.badge-tag волна
                button.category__badge-tag.badge-tag восток
                button.category__badge-tag.badge-tag девочка
                button.category__badge-tag.badge-tag квартет
                button.category__badge-tag.badge-tag коба меандр
                button.category__badge-tag.badge-tag кольца
                button.category__badge-tag.badge-tag терракота
                button.category__badge-tag.badge-tag модерн
                button.category__badge-tag.badge-tag мозайка
                button.category__badge-tag.badge-tag орха
                button.category__badge-tag.badge-tag рифленный
                button.category__badge-tag.badge-tag грань
                button.category__badge-tag.badge-tag плошка
                button.category__badge-tag.badge-tag ритм
                button.category__badge-tag.badge-tag роза
                button.category__badge-tag.badge-tag страйп
                button.category__badge-tag.badge-tag тюльпан
                button.category__badge-tag.badge-tag уют
                button.category__badge-tag.badge-tag цилиндр
            .catalog__main.catalog-list
                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
            .catalog__pagination.catalog-pagination
                btn.catalog-pagination__more-btn
                    .catalog-pagination__text показать еще 
                    .catalog-pagination__icon
                        svg(width="24" height="24")
                            use(href="../assets/icons/sprite.svg#selectArrow")
                .catalog-pagination__bullets
                    button.catalog-pagination__bullet.catalog-pagination__bullet--current 1
                    button.catalog-pagination__bullet 2
                    button.catalog-pagination__bullet 3
                    button.catalog-pagination__bullet 4
                    button.catalog-pagination__bullet 5

    +footer