include layouts/modules/_m-head.pug
include layouts/components/header.pug
include layouts/components/footer.pug
include layouts/components/ui/productCard.pug

html(lang='ru')
    +m-head
    body
        +header
        section.contacts
            .contacts__breadcrumbs.breadcrumbs.breadcrumbs-case
                .swiper
                    .swiper-wrapper
                        .swiper-slide 
                            .breadcrumbs__page 
                                .breadcrumbs__text Главная
                                svg(width="24" height="24")
                                    use(href="../assets/icons/sprite.svg#selectArrow")
                        .swiper-slide
                            .breadcrumbs__page.breadcrumbs--current
                                .breadcrumbs__text Контакты
            .container
                .section-header
                    .section-header__first-row
                        h2.section-header__title Контакты 
                .contacts__content
                    .contacts__info
                        .annotation
                            .annotation-header 
                                .annotation-header__icon 
                                    svg(height="24" width="24" fill="8EAD75")
                                        use(href="../assets/icons/sprite.svg#navigator")
                                .annotation-header__text Адрес
                            .annotation-main 350062, Россия, Краснодарский край, г. Краснодар, Прикубанский округ, Фестивальный м-н, ул. Им. Атарбекова, дом 3,
                            p Остановка «Бальнеолечебница»:
                                ul.custom-list
                                    li Автобус №: 14, 163а, 32, 4, 52,
                                    li Маршрутное такси №: 130а, 183а, 29, 40, 414, 85,
                                    li Троллейбус №: 1, 14, 6, 9.
                        .annotation
                            .annotation-header 
                                .annotation-header__icon 
                                    svg(height="24" width="24" fill="8EAD75")
                                        use(href="../assets/icons/sprite.svg#clock")
                                .annotation-header__text Время работы
                            .annotation-main с 8:30 до 20:00, без перерыва и выходных
                        .annotation
                            .annotation-header 
                                .annotation-header__icon 
                                    svg(height="24" width="24" fill="8EAD75")
                                            use(href="../assets/icons/sprite.svg#phone")
                                .annotation-header__text Телефон
                            .annotation-main
                                p +7(861)22-00-780,
                                p +7(861)22-00-781,
                                p +7(861)22-00-783.
                                p +7(861)22-00-785 (факс).
                        .annotation
                            .annotation-header 
                                .annotation-header__icon 
                                    svg(height="24" width="24" fill="8EAD75")
                                        use(href="../assets/icons/sprite.svg#mail")
                                .annotation-header__text Напишите нам!
                            .annotation-main 
                                p Старший менеджер, специалист отдела горшков и аксессуаров: <br> Черная Инна — garden.gorshki@mail.ru
                                <br>
                                p Менеджер отдела комнатных и садовых растений: <br> Михайлова Инна — garden.cvetok@mail.ru
                    .contacts__map
                        .contacts__map-wrapper(id="map") 
        +footer