include layouts/modules/_m-head.pug
include layouts/components/header.pug
include layouts/components/footer.pug
include layouts/components/ui/productCard.pug

html(lang='ru')
    +m-head
    body
        +header
        .app__content
            section.delivery
                .delivery__breadcrumbs.breadcrumbs.breadcrumbs-case
                        .swiper
                            .swiper-wrapper
                                .swiper-slide 
                                    .breadcrumbs__page 
                                        .breadcrumbs__text Главная
                                        svg(width="24" height="24")
                                            use(href="../assets/icons/sprite.svg#selectArrow")
                                .swiper-slide
                                    .breadcrumbs__page 
                                        .breadcrumbs__text Каталог
                                        svg(width="24" height="24")
                                            use(href="../assets/icons/sprite.svg#selectArrow")
                                .swiper-slide
                                    .breadcrumbs__page.breadcrumbs--current
                                        .breadcrumbs__text Горшки и кашпо
                .container
                    .delivery__content 
                        .delivery__header.section-header
                            .section-header__first-row
                                h2.section-header__title Доставка и оплата
                        .delivery__card
                            .delivery__photo
                                img(src="../assets/images/deliveryAndBuy.png" alt="")
                            .delivery__info
                                .delivery__annotation.annotation
                                    .annotation-header 
                                        .annotation-header__icon
                                            svg(width="24" height="24")
                                                use(href="../assets/icons/sprite.svg#navigator")
                                        .annotation-header__text Доставка
                                    .annotation-main Мы стремимся сделать процесс доставки максимально удобным и быстрым. Доступны следующие варианты:
                                        ul.custom-list 
                                            li Курьерская доставка – по вашему адресу в течение 1-3 дней.
                                            li Самовывоз – бесплатно из нашего магазина.
                                            li Транспортные компании – отправка в любой регион России.
                                        | После оформления заказа мы свяжемся с вами для уточнения деталей доставки.
                                .delivery__annotation.annotation
                                    .annotation-header 
                                            .annotation-header__icon
                                                svg(width="24" height="24")
                                                    use(href="../assets/icons/sprite.svg#star")
                                            .annotation-header__text Оплата
                                    .annotation-main Вы можете выбрать удобный способ оплаты:
                                        ul.custom-list 
                                            li Наличный расчет – при получении заказа.
                                            li Банковская карта – онлайн на сайте или при получении.
                                            li Безналичный расчет – для юридических лиц.
                                        | Если у вас остались вопросы, свяжитесь с нами – мы всегда на связи!
        +footer