include layouts/modules/_m-head.pug
include layouts/components/header.pug
include layouts/components/footer.pug
include layouts/components/swiperMain.pug
include layouts/components/newItems.pug
include layouts/components/promotions.pug
include layouts/components/beginners.pug


html(lang='ru')
  +m-head
  body
  +header
  +swiperMain
  +newItems
  +promotions
  +beginners
  +footer
