include layouts/modules/_m-head.pug
include layouts/components/header.pug
include layouts/components/footer.pug

html(lang='ru')
  +m-head
  body
  +header
  .container
    .swiper.swiper-main
      .swiper-wrapper
        .swiper-slide 
          .swiper-slide__content
            .swiper-slide__left
              h2.swiper-slide__title Большущий заголовок баннера
              .swiper-slide__text 
                .swiper-slide__text-main текстик на три-четыре строчечки с каким-то с наполнением, может быть даже со списочком:
                ul.swiper-slide__text-list 
                  li.swiper-slide__list-item разочек,
                  li.swiper-slide__list-item другой,
                  li.swiper-slide__list-item третий
              a(href="#").swiper-slide__link.btn--light-green.btn
                .swiper-slide__link-text перейти
                .swiper-slide__arrow-wrapper
                  svg(width="15" height="15").swiper-slide__link-arrow
                    use(href="../assets/icons/sprite.svg#link-arrow" )
            img.swiper-slide__background(src="../assets/images/swiperPhoto1.png", alt="")
            img.swiper-slide__phone-img(src="../assets/images/mobilePhone.png", alt="")
        .swiper-slide 
          .swiper-slide__content
            .swiper-slide__left
              h2.swiper-slide__title Большущий заголовок баннера
              .swiper-slide__text 
                .swiper-slide__text-main текстик на три-четыре строчечки с каким-то с наполнением, может быть даже со списочком:
                ul.swiper-slide__text-list 
                  li.swiper-slide__list-item разочек,
                  li.swiper-slide__list-item другой,
                  li.swiper-slide__list-item третий
              a(href="#").swiper-slide__link.btn--light-green.btn
                .swiper-slide__link-text перейти
                .swiper-slide__arrow-wrapper
                  svg(width="15" height="15").swiper-slide__link-arrow
                    use(href="../assets/icons/sprite.svg#link-arrow" )
            img.swiper-slide__background(src="../assets/images/swiperPhoto1.png", alt="")
            img.swiper-slide__phone-img(src="../assets/images/mobilePhone.png", alt="")
        .swiper-slide 
          .swiper-slide__content
            .swiper-slide__left
              h2.swiper-slide__title Большущий заголовок баннера
              .swiper-slide__text 
                .swiper-slide__text-main текстик на три-четыре строчечки с каким-то с наполнением, может быть даже со списочком:
                ul.swiper-slide__text-list 
                  li.swiper-slide__list-item разочек,
                  li.swiper-slide__list-item другой,
                  li.swiper-slide__list-item третий
              a(href="#").swiper-slide__link.btn--light-green.btn
                .swiper-slide__link-text перейти
                .swiper-slide__arrow-wrapper
                  svg(width="15" height="15").swiper-slide__link-arrow
                    use(href="../assets/icons/sprite.svg#link-arrow" )
            img.swiper-slide__background(src="../assets/images/swiperPhoto1.png", alt="")
            img.swiper-slide__phone-img(src="../assets/images/mobilePhone.png", alt="")
        .swiper-slide 
          .swiper-slide__content
            .swiper-slide__left
              h2.swiper-slide__title Большущий заголовок баннера
              .swiper-slide__text 
                .swiper-slide__text-main текстик на три-четыре строчечки с каким-то с наполнением, может быть даже со списочком:
                ul.swiper-slide__text-list 
                  li.swiper-slide__list-item разочек,
                  li.swiper-slide__list-item другой,
                  li.swiper-slide__list-item третий
              a(href="#").swiper-slide__link.btn--light-green.btn
                .swiper-slide__link-text перейти
                .swiper-slide__arrow-wrapper
                  svg(width="15" height="15").swiper-slide__link-arrow
                    use(href="../assets/icons/sprite.svg#link-arrow" )
            img.swiper-slide__background(src="../assets/images/swiperPhoto1.png", alt="")
            img.swiper-slide__phone-img(src="../assets/images/mobilePhone.png", alt="")
        .swiper-slide 
          .swiper-slide__content
            .swiper-slide__left
              h2.swiper-slide__title Большущий заголовок баннера
              .swiper-slide__text 
                .swiper-slide__text-main текстик на три-четыре строчечки с каким-то с наполнением, может быть даже со списочком:
                ul.swiper-slide__text-list 
                  li.swiper-slide__list-item разочек,
                  li.swiper-slide__list-item другой,
                  li.swiper-slide__list-item третий
              a(href="#").swiper-slide__link.btn--light-green.btn
                .swiper-slide__link-text перейти
                .swiper-slide__arrow-wrapper
                  svg(width="15" height="15").swiper-slide__link-arrow
                    use(href="../assets/icons/sprite.svg#link-arrow" )
            img.swiper-slide__background(src="../assets/images/swiperPhoto1.png", alt="")
            img.swiper-slide__phone-img(src="../assets/images/mobilePhone.png", alt="")
      .main-swiper-pagination__wrapper
        .main-swiper-pagination 
      .main-swiper-button-prev.btn.btn--dark-green
        svg(width="24" height='24')
          use(href="../assets/icons/sprite.svg#selectArrow")
      .main-swiper-button-next.btn.btn--dark-green
        svg(width="24" height='24')
          use(href="../assets/icons/sprite.svg#selectArrow")
  +footer
