include layouts/modules/_m-head.pug
include layouts/components/header.pug
include layouts/components/footer.pug
include layouts/components/ui/productCard.pug

html(lang='ru')
    +m-head
    body
    +header
    section.photo-studio
        .photo-studio__breadcrumbs.breadcrumbs.breadcrumbs-case
            .swiper
                .swiper-wrapper
                    .swiper-slide 
                        .breadcrumbs__page 
                            .breadcrumbs__text Главная
                            svg(width="24" height="24")
                                use(href="../assets/icons/sprite.svg#selectArrow")
                    .swiper-slide
                        .breadcrumbs__page 
                            .breadcrumbs__text Каталог
                            svg(width="24" height="24")
                                use(href="../assets/icons/sprite.svg#selectArrow")
                    .swiper-slide
                        .breadcrumbs__page.breadcrumbs--current
                            .breadcrumbs__text Горшки и кашпо
        .container
            .club-card__header.section-header
                .section-header__first-row
                    h2.section-header__title Фотостудия
                .section-header__second-row Пространство для вдохновения!
                .section-header__third-row Наша фотостудия — это не просто место для съемок, а пространство, где сочетаются естественная красота природы и современные возможности для творчества. 
            .photo-studio__content 
                .photo-swiper
                    .swiper.item-swiper
                        .swiper-wrapper 
                            .swiper-slide
                                .photo-studio__wrapper-photo
                                    img(src="../assets/images/photoStudio/girl.png" alt="")
                                .photo-studio__wrapper-photo
                                    img(src="../assets/images/photoStudio/girl.png" alt="")
                                .photo-studio__wrapper-photo
                                    img(src="../assets/images/photoStudio/girl.png" alt="")
                                .photo-studio__wrapper-photo
                                    img(src="../assets/images/photoStudio/girl.png" alt="")
                                .photo-studio__wrapper-photo
                                    img(src="../assets/images/photoStudio/girl.png" alt="")
                        .item-swiper__ui
                            button.item-swiper__button-prev.btn.btn--light-green
                                svg(width="24" height='24')
                                    use(href="../assets/icons/sprite.svg#selectArrow")
                            .item-swiper__wrapper-pagination
                                .item-swiper__pagination 
                            button.item-swiper__button-next.btn.btn--light-green
                                svg(width="24" height='24')
                                    use(href="../assets/icons/sprite.svg#selectArrow")
                .photo-studio__description
                .club-card__topic-header Ваши преимущества:
                    .club-card__topic-main
                        ul 
                            li Персональная скидка – выгодные условия на все категории товаров, включая растения, удобрения, аксессуары и декор.
                            li Специальные предложения – ранний доступ к акциям, сезонным скидкам и новым коллекциям.
                            li Закрытые мероприятия – участие в мастер-классах, лекциях и встречах для участников клуба.
                            li Персональные рекомендации – помощь в подборе растений и уходе за ними от наших экспертов.
                .club-card__topic
                    .club-card__topic-header Как воспользоваться картой?
                    .club-card__topic-main Просто предъявите карту при оплате покупки в магазине и получите скидку. Ваша карта остается активной на неограниченный срок, а чем больше вы покупаете, тем больше преимуществ вас ждет!
                    .club-card__topic-footer Присоединяйтесь к нашему клубу и делайте покупки с удовольствием!
                .photo-swiper
                    .swiper.item-swiper
                        .swiper-wrapper 
                            .swiper-slide 
                                img(src="../assets/images/photoStudio/girls.png" alt="")
                            .swiper-slide 
                                img(src="../assets/images/photoStudio/girls.png" alt="")
                            .swiper-slide 
                                img(src="../assets/images/photoStudio/girls.png" alt="")
                            .swiper-slide 
                                img(src="../assets/images/photoStudio/girls.png" alt="")
                            .swiper-slide 
                                img(src="../assets/images/photoStudio/girls.png" alt="")
                        .item-swiper__ui
                            button.item-swiper__button-prev.btn.btn--light-green
                                svg(width="24" height='24')
                                    use(href="../assets/icons/sprite.svg#selectArrow")
                            .item-swiper__wrapper-pagination
                                .item-swiper__pagination 
                            button.item-swiper__button-next.btn.btn--light-green
                                svg(width="24" height='24')
                                    use(href="../assets/icons/sprite.svg#selectArrow")
                .club-card__topic
                    .club-card__topic-header Как воспользоваться картой?
                    .club-card__topic-main Просто предъявите карту при оплате покупки в магазине и получите скидку. Ваша карта остается активной на неограниченный срок, а чем больше вы покупаете, тем больше преимуществ вас ждет!
    +footer     