include layouts/modules/_m-head.pug
include layouts/components/header.pug
include layouts/components/footer.pug
include layouts/components/ui/productCard.pug


html(lang='ru')
    +m-head
    body
        +header
        .app__content
            section.product-details
                    .product-details__breadcrumbs.breadcrumbs.breadcrumbs-case
                        .swiper
                            .swiper-wrapper
                                .swiper-slide 
                                    .breadcrumbs__page 
                                        .breadcrumbs__text Главная
                                        svg(width="24" height="24")
                                            use(href="../assets/icons/sprite.svg#selectArrow")
                                .swiper-slide
                                    .breadcrumbs__page 
                                        .breadcrumbs__text Каталог
                                        svg(width="24" height="24")
                                            use(href="../assets/icons/sprite.svg#selectArrow")
                                .swiper-slide
                                    .breadcrumbs__page.breadcrumbs--current
                                        .breadcrumbs__text Горшки и кашпо
                    .product-details__content
                        .container 
                            .product-details__main
                                .product-details__swiper-item
                                    .swiper.item-swiper
                                        .swiper-wrapper 
                                            .swiper-slide
                                                img(src="../assets/images/productDetails.png" alt="")  
                                            .swiper-slide
                                                img(src="../assets/images/productDetails.png" alt="") 
                                            .swiper-slide
                                                img(src="../assets/images/productDetails.png" alt="") 
                                            .swiper-slide
                                                img(src="../assets/images/productDetails.png" alt="") 
                                            .swiper-slide
                                                img(src="../assets/images/productDetails.png" alt="") 
                                        .item-swiper__ui
                                            button.item-swiper__button-prev.btn.btn--light-green
                                                svg(width="24" height='24')
                                                    use(href="../assets/icons/sprite.svg#selectArrow")
                                            .item-swiper__wrapper-pagination 
                                                .item-swiper__pagination 
                                            button.item-swiper__button-next.btn.btn--light-green
                                                svg(width="24" height='24')
                                                    use(href="../assets/icons/sprite.svg#selectArrow")
                                .product-details__info 
                                    .product-details__title Субстрат универсальный
                                    .product-details__price
                                        .product-details__price-header.subheader
                                            .subheader__icon
                                                svg(width="24" height="24")
                                                    use(href="../assets/icons/sprite.svg#money") 
                                            .subheader__title Цена
                                        .product-detail__main по договоренности
                                .product-details__characteristics
                                        .product-details__characteristics-header.subheader
                                            .subheader__icon
                                                svg(width="24" height="24")
                                                    use(href="../assets/icons/sprite.svg#circleAttention") 
                                            .subheader__title Характеристики
                                        .product-details__main
                                            ul.product-details__characteristics-list 
                                                li.product-details__characteristics-item
                                                    .product-details__characteristics-characteristic Объем
                                                    .product-details__characteristics-border
                                                    .product-details__characteristics-quantity 1л
                                                li.product-details__characteristics-item
                                                    .product-details__characteristics-characteristic Предназначение
                                                    .product-details__characteristics-border
                                                    .product-details__characteristics-quantity универсальное
                                                li.product-details__characteristics-item
                                                    .product-details__characteristics-characteristic Ширина
                                                    .product-details__characteristics-border
                                                    .product-details__characteristics-quantity 15 см
                                        .product-details__description
                                            .product-details__description-header.subheader
                                                .subheader__icon
                                                    svg(width="24" height="24")
                                                        use(href="../assets/icons/sprite.svg#star") 
                                                .subheader__title Описание
                                            .product-details__description-main 
                                                p Родина: 
                                                p Южная Америка, Австралия

                                                p Максимальные размеры в культуре: 
                                                p до 2-3 м в комнатных условиях, в природе может достигать 50 м

                                                p Рекомендуемый состав земельной смеси: 
                                                p дерновая земля, листовая земля, перегной, песок (2:2:1:1), 

                                                p pH: 
                                                p слабокислая

                                                p Пересадка: 
                                                p весной или летом, через 1 – 4 года, в плоский и неглубокий горшок, наполовину обрезая корни. Пересаживают араукарии осторожно, т.к. при повреждении корней мягкая хвоя желтеет, ветки вянут.

                                                p Зимнее содержание (октябрь – февраль): 
                                                p оптимальная температура 18-22°C, полив умеренный, земля должна быть слегка влажной, без застоя воды
                                                
                                                p Специфические требования культуры: 
                                                | для равномерного развития нужно освещение с нескольких сторон, но прямые солнечные лучи могут вызвать ожоги на листьях. В теплых комнатах растение нужно опрыскивать регулярно. Землю в горшке обкладывают увлажнённым сфагновым мхом. Растение нуждается в обильном поливе и не переносят пересыхания земляного кома. Не рекомендуется поливать жесткой водой.

                                                p Размножение: 
                                                p семенами, стеблевыми полуодревесневшими черенками.

                                                p Проблемы с выращиванием:  
                                                p при слишком высокой температуре, сухости воздуха, запыленности могут опадать хвоинки и сохнуть нижние ветки. Не переносит пересушки земляного кома, и избытка влаги в почве; Недостаток света может замедлить рост растения и привести к деформации хвои. Избыток влаги или переувлажнение может привести к гниению корней.

                                                p Удобрение: 
                                                p с апреля по август удобряют раз в 2 недели комплексным удобрением для хвойных растений

                                                p Важное замечание:  
                                                p араукария требует аккуратности в уходе, так как она чувствительна к резким перепадам температуры и влажности

                                            .product-detail__description-more.link.link--dark-green 
                                                label
                                                    input(type="checkbox", name="") 
                                                    | Развернуть 
                                                    svg(width="24" height="24")
                                                        use(xlink:href="/assets/icons/sprite.svg#selectArrow")

                                    
                        .product-details__similar
                            .product-details__header.section-header
                                .section-header__first-row
                                    h1.section-header__title Похожие товары
                            .item-swiper.products-swiper.swiper-container
                                .swiper 
                                    .swiper-wrapper
                                        .swiper-slide
                                            +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                                        .swiper-slide
                                            +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                                        .swiper-slide
                                            +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                                        .swiper-slide
                                            +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                                        .swiper-slide
                                            +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                                        .swiper-slide
                                            +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                                        .swiper-slide
                                            +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                                        .swiper-slide
                                            +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                                    .item-swiper__ui
                                        button.item-swiper__button-prev.btn.btn--light-green
                                            svg(width="24" height='24')
                                                use(href="../assets/icons/sprite.svg#selectArrow")
                                        .item-swiper__wrapper-pagination 
                                            .item-swiper__pagination 
                                        button.item-swiper__button-next.btn.btn--light-green
                                            svg(width="24" height='24')
                                                use(href="../assets/icons/sprite.svg#selectArrow")
                        .product-details__watched
                            .product-details__header.section-header
                                .section-header__first-row
                                    h1.section-header__title Вы смотрели
                            .item-swiper.products-swiper.swiper-container
                                .swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                                        .swiper-slide
                                            +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                                    .item-swiper__ui
                                        button.item-swiper__button-prev.btn.btn--light-green
                                            svg(width="24" height='24')
                                                use(href="../assets/icons/sprite.svg#selectArrow")
                                        .item-swiper__wrapper-pagination 
                                            .item-swiper__pagination 
                                        button.item-swiper__button-next.btn.btn--light-green
                                            svg(width="24" height='24')
                                                use(href="../assets/icons/sprite.svg#selectArrow")
        +footer