include layouts/modules/_m-head.pug
include layouts/components/header.pug
include layouts/components/footer.pug
include layouts/components/ui/productCard.pug

html(lang='ru')
  +m-head
  body
    +header
    .app__content
        section.search 
            .search__breadcrumbs.breadcrumbs.breadcrumbs-case
                        .swiper
                            .swiper-wrapper
                                .swiper-slide 
                                    .breadcrumbs__page 
                                        .breadcrumbs__text Главная
                                        svg(width="24" height="24")
                                            use(href="../assets/icons/sprite.svg#selectArrow")
                                .swiper-slide
                                    .breadcrumbs__page 
                                        .breadcrumbs__text Каталог
                                        svg(width="24" height="24")
                                            use(href="../assets/icons/sprite.svg#selectArrow")
                                .swiper-slide
                                    .breadcrumbs__page.breadcrumbs--current
                                        .breadcrumbs__text Горшки и кашпо
            .container
                .search__header.section-header
                        .section-header__first-row
                            h2.section-header__title Результаты поиска
                        .section-header__second-row 
                            .section-header__search по запросу:
                            .section-header__result где самые лучшие цветы? у нас в...
                .search__main.catalog-list 
                    +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                    +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                    +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                    +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                    +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                    +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                    +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                    +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                    +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                    +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                    +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                    +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                    +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                    +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                    +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                    +productCard("../../assets/images/flowers/sansevieria.png", "Сансеверия", "Сансеверия", 1200, "##")
                .search__pagination.catalog-pagination
                    button.catalog-pagination__more-btn
                        .catalog-pagination__text показать еще 
                        .catalog-pagination__icon
                            svg(width="24" height="24")
                                use(href="../assets/icons/sprite.svg#selectArrow")
                    .catalog-pagination__bullets
                        button.catalog-pagination__bullet.catalog-pagination__bullet--current 1
                        button.catalog-pagination__bullet 2
                        button.catalog-pagination__bullet 3
                        button.catalog-pagination__bullet 4
                        button.catalog-pagination__bullet 5
    +footer