include layouts/modules/_m-head.pug

html(lang='ru')
  +m-head
  body
  .container
    .field.field--error
        .field__container
          .field__placeholder
            input(type="text" placeholder=" " )
            .field__placeholder-text Placeholder
              svg(width="24" height="24").field__eye-icon
                use(href="../assets/icons/sprite.svg#hide-password")
        //- .input__date-time
        //-   .input__date 06.12.2024
        //-   .input__time 16:45
    .field
      .field__container
        .field__placeholder
          input(type="text" placeholder=" " )
          .field__placeholder-text Placeholder
            svg(width="24" height="24").field__eye-icon
              use(href="../assets/icons/sprite.svg#hide-password")
      //- .input__date-time
      //-   .input__date 06.12.2024
      //-   .input__time 16:45

      button.btn.btn--light-green
        .btn__content
          svg(width="24" height="24").button__burger-icon
            use(href="../assets/icons/sprite.svg#burger-icon")
          
          .btn__text Name
            svg(width="24" height="24").button__burger-icon
              use(href="../assets/icons/sprite.svg#burger-icon")
          
      button.btn.btn--dark-green
        .btn__content
          svg(width="24" height="24").button__burger-icon
            use(href="../assets/icons/sprite.svg#burger-icon")
          
          .btn__text Name
            svg(width="24" height="24").button__burger-icon
              use(href="../assets/icons/sprite.svg#burger-icon")
    
