include layouts/modules/_m-head.pug
include layouts/components/header.pug
include layouts/components/footer.pug
include layouts/components/ui/productCard.pug

html(lang='ru')
    +m-head
    body
        +header
        .app__content
            section.vacancies
                .vacancies__breadcrumbs.breadcrumbs.breadcrumbs-case
                    .swiper
                        .swiper-wrapper
                            .swiper-slide 
                                .breadcrumbs__page 
                                    .breadcrumbs__text Главная
                                    svg(width="24" height="24")
                                        use(href="../assets/icons/sprite.svg#selectArrow")
                            .swiper-slide
                                .breadcrumbs__page 
                                    .breadcrumbs__text Каталог
                                    svg(width="24" height="24")
                                        use(href="../assets/icons/sprite.svg#selectArrow")
                            .swiper-slide
                                .breadcrumbs__page.breadcrumbs--current
                                    .breadcrumbs__text Горшки и кашпо
                .container 
                    .vacancies__header.section-header
                        .section-header__first-row
                            h2.section-header__title Вакансии
                        .section-header__second-row Присоединяйтесь к нашей команде!
                        .section-header__third-row У нас всегда есть место для увлеченных и трудолюбивых людей! Станьте частью нашей дружной команды и помогайте создавать уют вместе с нами.
                    .vacancies__container
                        .offer-card
                            .services__popup.popup-form(style="display:none;")
                                h2.popup-form__title Выезд специалфыв ыфыфвиста
                                .popup-form__main 
                                    .popup-form__text
                                        .popup-form__row 
                                            .popup-form__title-list
                                                p Вы нам подходите, если:
                                            ul.popup-form__list
                                                li.popup-form__list-item Любитель растений и садоводства
                                                li.popup-form__list-item Любитель растений и садоводства
                                                li.popup-form__list-item Любитель растений и садоводства
                                                li.popup-form__list-item Любитель растений и садоводства
                                                li.popup-form__list-item Любитель растений и садоводства
                                                li.popup-form__list-item Любитель растений и садоводства
                                        .popup-form__row 
                                            .popup-form__title-list График работы: 
                                            ul.popup-form__list
                                                li.popup-form__list-item 4/2 с 8:00 до 20:00
                                        .popup-form__row 
                                            .popup-form__title-list 
                                                p Обязанности:
                                            ul.popup-form__list
                                                li.popup-form__list-item Консультировать покупателей по ассортименту растений, удобрений и садового инвентаря
                                                li.popup-form__list-item Помогать в выборе подходящих товаров
                                                li.popup-form__list-item Помогать в выборе подходящих товаров
                                                li.popup-form__list-item Поддерживать порядок в торговом зале
                                                li.popup-form__list-item Работать на кассе (по необходимости)

                                        .popup-form__row По всем вопросам обращаться по тел.:
                                            a(href="##").link.popup-form__phone +7(861)22-00-783 
                                            | Инна Вячеславовна
                                    .popup-form__wrapper-form
                                        .popup-form__form-title Оставьте заявку онлайн!
                                        form.popup-form__form
                                            .popup-form__fields
                                                .popup-form__phone.field 
                                                    .field__container
                                                        .field__placeholder
                                                            input(type="text" placeholder=" " name="phone").popup-form__input-phone
                                                            .field__placeholder-text
                                                                .field__placeholder-content Телефон
                                                                svg(width="24" height="24").field__eye-icon
                                                                    use(href="../assets/icons/sprite.svg#hide-password")
                                                .popup-form__name.field 
                                                    .field__container
                                                        .field__placeholder
                                                            input(type="text" placeholder=" " name="name").popup-form__input-name
                                                            .field__placeholder-text
                                                                .field__placeholder-content Ваше имя
                                                                svg(width="24" height="24").field__eye-icon
                                                                    use(href="../assets/icons/sprite.svg#hide-password")
                                                .popup-form__message.field 
                                                    .field__container
                                                        .field__placeholder
                                                            textarea(name="message" type="text" placeholder=" ").popup-form__input-message
                                                            .field__placeholder-text 
                                                                .field__placeholder-content Сообщение
                                                                svg(width="24" height="24").field__eye-icon
                                                                    use(href="../assets/icons/sprite.svg#hide-password")
                                            .popup-form__footer 
                                                .checkbox-field
                                                    .checkbox-field__wrapper
                                                        .checkbox-field__fake
                                                            input(type="checkbox" name="checkbox" class="checkbox-field__input")
                                                            svg.checkbox-field__icon(width="24" height='24')
                                                                use(href='../assets/icons/sprite.svg#checkMark')
                                                        label(for="checkbox") Политика конфиденциальности
                                                    label.field__placeholder-content(for="checkbox")
                                                button.btn.btn--dark-green Отправить
                            .offer-card__info
                                .offer-card__header
                                    .offer-card__title Охранник-контроллер
                                    button.offer-card__button.btn.btn--dark-green.offer-card__button--mobile.form-trigger
                                        svg(width="24" height="24")
                                            use(href="../assets/icons/sprite.svg#link-arrow")
                                .offer-card__main Следите за порядком? У нас есть работа для вас! <br> Сменный график | Стабильная зарплата
                            button.offer-card__button.btn.btn--dark-green.form-trigger
                                svg(width="24" height="24")
                                    use(href="../assets/icons/sprite.svg#link-arrow")
                        .offer-card
                            .services__popup.popup-form(style="display:none;")
                                h2.popup-form__title Выезд специалфыв ыфыфвиста
                                .popup-form__main 
                                    .popup-form__text
                                        .popup-form__row 
                                            .popup-form__title-list
                                                p Вы нам подходите, если:
                                            ul.popup-form__list
                                                li.popup-form__list-item Любитель растений и садоводства
                                                li.popup-form__list-item Любитель растений и садоводства
                                                li.popup-form__list-item Любитель растений и садоводства
                                                li.popup-form__list-item Любитель растений и садоводства
                                                li.popup-form__list-item Любитель растений и садоводства
                                                li.popup-form__list-item Любитель растений и садоводства
                                        .popup-form__row 
                                            .popup-form__title-list
                                                p График работы: 
                                            ul.popup-form__list
                                                li.popup-form__list-item 4/2 с 8:00 до 20:00
                                        .popup-form__row 
                                            .popup-form__title-list Обязанности:
                                            ul.popup-form__list
                                                li.popup-form__list-item Консультировать покупателей по ассортименту растений, удобрений и садового инвентаря
                                                li.popup-form__list-item Помогать в выборе подходящих товаров
                                                li.popup-form__list-item Помогать в выборе подходящих товаров
                                                li.popup-form__list-item Поддерживать порядок в торговом зале
                                                li.popup-form__list-item Работать на кассе (по необходимости)

                                        .popup-form__row По всем вопросам обращаться по тел.:
                                            a(href="##").link.popup-form__phone +7(861)22-00-783 
                                            | Инна Вячеславовна
                                    .popup-form__wrapper-form
                                        .popup-form__form-title Оставьте заявку онлайн!
                                        form.popup-form__form
                                            .popup-form__fields
                                                .popup-form__phone.field 
                                                    .field__container
                                                        .field__placeholder
                                                            input(type="text" placeholder=" " name="phone").popup-form__input-phone
                                                            .field__placeholder-text
                                                                .field__placeholder-content Телефон
                                                                svg(width="24" height="24").field__eye-icon
                                                                    use(href="../assets/icons/sprite.svg#hide-password")
                                                .popup-form__name.field 
                                                    .field__container
                                                        .field__placeholder
                                                            input(type="text" placeholder=" " name="name").popup-form__input-name
                                                            .field__placeholder-text
                                                                .field__placeholder-content Ваше имя
                                                                svg(width="24" height="24").field__eye-icon
                                                                    use(href="../assets/icons/sprite.svg#hide-password")
                                                .popup-form__message.field 
                                                    .field__container
                                                        .field__placeholder
                                                            textarea(name="message" type="text" placeholder=" ").popup-form__input-message
                                                            .field__placeholder-text 
                                                                .field__placeholder-content Сообщение
                                                                svg(width="24" height="24").field__eye-icon
                                                                    use(href="../assets/icons/sprite.svg#hide-password")
                                            .popup-form__footer 
                                                .checkbox-field
                                                    .checkbox-field__wrapper
                                                        .checkbox-field__fake
                                                            input(type="checkbox" name="checkbox" class="checkbox-field__input")
                                                            svg.checkbox-field__icon(width="24" height='24')
                                                                use(href='../assets/icons/sprite.svg#checkMark')
                                                        label(for="checkbox") Политика конфиденциальности
                                                    label.field__placeholder-content(for="checkbox")
                                                button.btn.btn--dark-green Отправить
                            .offer-card__info
                                .offer-card__header
                                    .offer-card__title Продавец-консультант
                                    button.offer-card__button.btn.btn--dark-green.offer-card__button--mobile.form-trigger
                                        svg(width="24" height="24")
                                            use(href="../assets/icons/sprite.svg#link-arrow")
                                .offer-card__main Любите растения и общение? Приглашаем в нашу команду! <br> Гибкий график | Конкурентная зарплата
                            button.offer-card__button.btn.btn--dark-green.form-trigger
                                svg(width="24" height="24")
                                    use(href="../assets/icons/sprite.svg#link-arrow")
                        .offer-card
                            .services__popup.popup-form(style="display:none;")
                                h2.popup-form__title Выезд специалфыв ыфыфвиста
                                .popup-form__main 
                                    .popup-form__text
                                        .popup-form__row 
                                            .popup-form__title-list
                                                p Вы нам подходите, если:
                                            ul.popup-form__list
                                                li.popup-form__list-item Любитель растений и садоводства
                                                li.popup-form__list-item Любитель растений и садоводства
                                                li.popup-form__list-item Любитель растений и садоводства
                                                li.popup-form__list-item Любитель растений и садоводства
                                                li.popup-form__list-item Любитель растений и садоводства
                                                li.popup-form__list-item Любитель растений и садоводства
                                        .popup-form__row 
                                            .popup-form__title-list
                                                p График работы: 
                                            ul.popup-form__list
                                                li.popup-form__list-item 4/2 с 8:00 до 20:00
                                        .popup-form__row 
                                            .popup-form__title-list
                                                p Обязанности:
                                            ul.popup-form__list
                                                li.popup-form__list-item Консультировать покупателей по ассортименту растений, удобрений и садового инвентаря
                                                li.popup-form__list-item Помогать в выборе подходящих товаров
                                                li.popup-form__list-item Помогать в выборе подходящих товаров
                                                li.popup-form__list-item Поддерживать порядок в торговом зале
                                                li.popup-form__list-item Работать на кассе (по необходимости)

                                        .popup-form__row По всем вопросам обращаться по тел.:
                                            a(href="##").link.popup-form__phone +7(861)22-00-783 
                                            | Инна Вячеславовна
                                    .popup-form__wrapper-form
                                        .popup-form__form-title Оставьте заявку онлайн!
                                        form.popup-form__form
                                            .popup-form__fields
                                                .popup-form__phone.field 
                                                    .field__container
                                                        .field__placeholder
                                                            input(type="text" placeholder=" " name="phone").popup-form__input-phone
                                                            .field__placeholder-text
                                                                .field__placeholder-content Телефон
                                                                svg(width="24" height="24").field__eye-icon
                                                                    use(href="../assets/icons/sprite.svg#hide-password")
                                                .popup-form__name.field 
                                                    .field__container
                                                        .field__placeholder
                                                            input(type="text" placeholder=" " name="name").popup-form__input-name
                                                            .field__placeholder-text
                                                                .field__placeholder-content Ваше имя
                                                                svg(width="24" height="24").field__eye-icon
                                                                    use(href="../assets/icons/sprite.svg#hide-password")
                                                .popup-form__message.field 
                                                    .field__container
                                                        .field__placeholder
                                                            textarea(name="message" type="text" placeholder=" ").popup-form__input-message
                                                            .field__placeholder-text 
                                                                .field__placeholder-content Сообщение
                                                                svg(width="24" height="24").field__eye-icon
                                                                    use(href="../assets/icons/sprite.svg#hide-password")
                                            .popup-form__footer 
                                                .checkbox-field
                                                    .checkbox-field__wrapper
                                                        .checkbox-field__fake
                                                            input(type="checkbox" name="checkbox" class="checkbox-field__input")
                                                            svg.checkbox-field__icon(width="24" height='24')
                                                                use(href='../assets/icons/sprite.svg#checkMark')
                                                        label(for="checkbox") Политика конфиденциальности
                                                    label.field__placeholder-content(for="checkbox")
                                                button.btn.btn--dark-green Отправить
                            .offer-card__info
                                .offer-card__header
                                    .offer-card__title Садовник-агроном
                                    button.offer-card__button.btn.btn--dark-green.offer-card__button--mobile.form-trigger
                                        svg(width="24" height="24")
                                            use(href="../assets/icons/sprite.svg#link-arrow")
                                .offer-card__main Любите растения и умеете ухаживать за ними? Мы вас ждем! <br> Стабильная работа | Возможность профессионального роста
                            button.offer-card__button.btn.btn--dark-green.form-trigger
                                svg(width="24" height="24")
                                    use(href="../assets/icons/sprite.svg#link-arrow")
        +footer