.attraction {
  display: flex;
  gap: 50px;
  padding-top: 80px;
  align-items: center;

  &__info {
    padding-top: 28px;
  }
  &__img {
    max-width: 50%;
  }
  &__text {
    border-radius: 20px 20px 0 0;
    padding: 40px 40px 0px 40px;
    background-color: $GLightG;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__title {
    font-size: 32px;
    font-weight: 600;
    color: $GSupportDG;
  }
  &__main {
    color: $GSupportDG;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  &__info-card {
    width: 100%;
  }
  &__link {
    display: flex;
    gap: 10px;
    align-items: center;
    &-text {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 20px;
    }
    &-icon {
      transform: rotate(-90deg);
    }
  }
  &--reversed {
    flex-direction: row-reverse;
    .attraction {
      &__info-card {
        transform: scale(-1, 1);
      }
      &__info {
        align-items: start;
      }
    }
  }
}
