.blog-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__tag {
        font-weight: 700;
        font-size: 20px;
        color: $GMediumG;
        border-radius: 60px;
        padding: 8px 16px;
        background-color: $GLightG;

    }

    &__time-date {
        display: flex;
        gap: 12px;
        color: $MMiddleGray;
    }

    &__info {
        color: $GSupportDG;
    }

    &__main {
        display: flex;
        gap: 24px;
    }

    @include mobile {
        &__main {
            flex-direction: column;
            gap: 4px;
        }
    }
}