.breadcrumbs{
    display: flex;
    gap: 8px;
    padding-bottom: 40px;
    .swiper{
        margin: 0;
        &-slide{
            width: fit-content;
        }
        &-wrapper{
            align-items: center;
        }
    }
    
    &__text{
        color: $MMiddleGray;
        line-height: 110%;
        font-weight: 600;
        white-space: nowrap;
        
    }
    &__page{
        display: flex;
        align-items: center;
        color: $MMiddleGray;
        svg{
            transform: rotate(-90deg);
            fill: $MMiddleGray;
        }
    }
    &--current{
        .breadcrumbs{
        &__text{
            color: $MDarkGray;
        }   
    }
    }
    @include mobile{
        padding-bottom: 60px;
    }
}