.breadcrumbs{
    display: flex;
    gap: 8px;
    padding: 0 40px;
    overflow-x: scroll;
    &__text{
        color: $MMiddleGray;
        line-height: 110%;
        font-weight: 600;
        white-space: nowrap;
        
    }
    &__page{
        display: flex;
        align-items: center;
        color: $MMiddleGray;
        svg{
            transform: rotate(-90deg);
            fill: $MMiddleGray;
        }
    }
    &--current{
        .breadcrumbs{
        &__text{
            color: $MDarkGray;
        }
    }
    }
    @include mobile{
        padding: 0;
    }
}