.catalog {
    &-list {
        display: grid;
        grid-template-columns: repeat(4, auto);
        column-gap: 32px;
        row-gap: 20px;
        // padding: 40px 0;
        padding-bottom: 40px;
    }

    &-pagination {
        display: flex;
        flex-direction: column;

        &__more-btn {
            display: flex;
            background-color: $MLightGray;
            border-radius: 60px;
            padding: 12px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            transition: all 0.3s;

            svg {
                transition: all 0.3s;
            }

            @media (hover : hover) and (pointer : fine) {
                &:hover {
                    background-color: $GLightG;
                    color: $GMediumG;
                    transition: all 0.3s;

                    svg {
                        fill: $GMediumG;
                        transition: all 0.3s;
                    }
                }
            }

            &:active {
                background-color: $GMediumG;
                color: $MWhite;
                transition: all 0.3s;

                svg {
                    fill: $MWhite;
                    transition: all 0.3s;
                }
            }
        }

        &__text {
            font-weight: 700;
            font-size: 20px;
            text-transform: uppercase;
        }

        &__bullets {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 16px;
            justify-content: center;
            padding-top: 23px;
        }

        &__bullet {
            &--current {
                background-color: $GMediumG;
                color: $MWhite;
            }
            
            font-weight: 700;
            font-size: 20px;
            text-transform: uppercase;
            border-radius: 60px;
            padding: 12px 24px;
            background-color: $MLightGray;

            @media (hover : hover) and (pointer : fine) {
                &:hover {
                    background-color: $GLightG;
                    color: $GMediumG;
                    transition: all 0.3s;
                }
            }

            &:active {
                background-color: $GMediumG;
                color: $MWhite;
                transition: all 0.3s;
            }
        }
    }

    @include table {
        &-list {
            grid-template-columns: repeat(3, auto);
        }

        &-pagination {
            &__bullets {
                max-width: 100%;
                margin: 0;
            }
        }
    }

    @include mobile {
        &-list {
            grid-template-columns: repeat(2, auto);
        }

        &-pagination {
            &__bullet {
                width: 48px;
                padding: 12px 18px;
            }
        }

    }

    @include mediumMobile {
        &-list {
            grid-template-columns: auto;
        }
    }

    @include smallMobile {
        &-pagination {
            // &__bullets {
            //     gap: 0;
            //     justify-content: space-between;
            // }

        }
    }
}