.checkbox-field {
    display: flex;
    align-items: center;
    gap: 10px;

    &__input {
        position: absolute;
        width: 100%;
        height: 100%;

        opacity: 0;
        cursor: pointer;

    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__fake {
        position: relative;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        border-radius: 8px;
        border: 2px solid $GSupportLG;
        background-color: $MWhite;
        transition: all 0.1s ease-in-out;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: $GLightG;
                border-color: $GMediumG;
            }
        }
    }

    &:has(input[type=checkbox]:checked) {
        .checkbox-field {
            &__fake {
                background-color: $GMediumG;
                border-color: $GMediumG;

                @media (hover : hover) and (pointer : fine) {
                    &:hover {
                        background-color: $GDarkG;
                        border-color: $GDarkG;
                    }
                }
            }

            &__icon {
                opacity: 1;
            }
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        pointer-events: none;
    }

    &.field {
        &--error {
            .checkbox-field {
                &__fake {
                    background-color: $MLightRed;
                    border: 2px solid $MRed;
                }
            }
        }
    }
}