.fancybox__slide{
    padding: 0;
  }
.item-swiper,
.photo-swiper{
      &.fancybox__content{
        padding: 0;
        background: transparent;
        width: calc(100% - 50px);
        max-width: fit-content;
        .swiper{
          width: 100%;
        }
      }
}
.video-player{
  // position: relative;
justify-content: center;
      &.fancybox__content{
        padding: 0;
        background: transparent;
        width: calc(100% - 50px);
        max-width: fit-content;
        height: fit-content;
      }
      iframe{
        aspect-ratio: 16 / 9;
        width: 85vw;
        max-width: 85vw;
        // max-height: 85vh;
        
      }
      
}

