.fancybox__slide{
    padding: 0;
  }
.item-swiper,
.photo-swiper{
      &.fancybox__content{
        padding: 0;
        background: transparent;
        width: calc(100% - 50px);
        max-width: fit-content;
        .swiper{
          width: 100%;
        }
      }
}
.video-player{
  // position: relative;
justify-content: center;
      &.fancybox__content{
        padding: 0;
        background: transparent;
        width: calc(100% - 50px);
        max-width: fit-content;
        height: fit-content;
      }
      iframe{
        aspect-ratio: 16 / 9;
        width: 85vw;
        max-width: 85vw;
        // max-height: 85vh;
        
      }
      
}

:root{
  // --fancybox-color : $MBlack
}
.fancybox__content{
.carousel__button.is-close{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: $MBlack;
  transition : all 0.3s ease-in-out;
  top: -80px;
  @media (hover : hover) and (pointer : fine) {
    &:hover{
      background-color: $GLightG;
      color: $GMediumG;
      transition : all 0.3s ease-in-out;

    }
  }
  &:active{
    background-color: $GMediumG;
    color: $MWhite;
    transition : all 0.3s ease-in-out;
  }
}
}
.fancybox__container{
  --carousel-button-svg-filter: none;
}