.item-swiper {
  &__pagination {
    //display: flex;
    //gap: 18px;
    //bottom: 8px;
    //align-items: center;
    //flex-wrap: nowrap;
    //justify-content: center;
    
  }

  &__ui {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    &:has(.swiper-pagination-lock){
      display: none;
    }
  }

  &__button-prev,
  &__button-next {
    height: 48px;
    width: 48px;
    top: 47.5%;
    z-index: 3;
    border-radius: 60px;
    padding: 12px;
  }

  &__button-next {
    right: 8px;
    transform: rotate(-90deg);
  }

   &__button-prev {
    left: 8px;
    transform: rotate(90deg);
  }

  .swiper {
    &-pagination-bullet {
      width: 11px;
      height: 10px;
      background: $GLightG;
      opacity: 1;
      flex: 0 0 auto;

      &-active {
        background: $GMediumG;
      }
    }



  }
}
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
  transform: translate(0) !important;
}


