.photo-swiper{

    .swiper{
        max-width: 1110px;
        &-slide{
            max-height: 580px;
            max-width: 1110px;
            display: flex;
            overflow: hidden;
        }
    }
    &__wrapper-photo{
        max-height: 580px;
        max-width: 1110px;
        position: relative;
        aspect-ratio: 3.8 / 2;
        flex: 1 1 auto;

        //&:has(.image-vertical){
        //    position: absolute;
        //    &::after{
        //        content: "";
        //        width: 500px;
        //        height: 500px;
        //        position: absolute;
        //        left: 50%;
        //        top: 0;
        //        transform: translateX(-50%);
        //        background-color: red;
        //        z-index: 2;
        //
        //    }
        //}
    }
    &__img{
        width: 100%;
        height: 100%;

        border-radius: 40px;
        &--center-align{
            object-position: center;
        }
        &--top-align{
            object-position: top;
        }
    }

    .image-vertical{
        object-fit: contain;
        mask-image: url("/assets/images/verticalImgMask.png");
        mask-repeat: no-repeat;
        mask-size: auto;
        mask-size: 35% 100%;
        mask-position: 50% 0px;
    }
    .image-horizontal{
        object-fit: cover;
    }
     .item-swiper__pagination{
         display: block;
     }
}

