.popup-form {
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
    }
    &__phone{
        font-weight: 700;
    }
    &__main{
        display: flex;
    }
    &__text{
        max-width: 600px;
    }
}