.product-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    // width: 316px;
    img{
        width: 100%;
    }
    &__title{
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 24px;
        // color
    }
    &__footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__price{
        color: $MDarkGray;
        line-height: 110%;
        font-weight: 600;
    }
}