.subscribe-link{
    padding: 9px 19px;
    border-radius: 48px;
    width: 90%;
    // height: 48px;
    height: 9.5%;
    transition: all 0.3s ease-in-out;
    &__text{
        color: $MWhite;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
    }
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    &--telegram{
        background-color: $Telegram;
        @media (hover : hover) and (pointer : fine) {
            &:hover{
                background-color: #00527a;
                transition: all 0.3s ease-in-out;
            }
        }
        &:active{
            background-color: #4cabdb;
            transition: all 0.3s ease-in-out;
        }
    
    }
    &--vkontakte{
        background-color: $Vkontakte;
        @media (hover : hover) and (pointer : fine) {
            &:hover{
                background-color: #2e4662;
                transition: all 0.3s ease-in-out;
            }
        }
        &:active{
            background-color: #819ebe;
            transition: all 0.3s ease-in-out;
        }
    
    }
    
    @include table{
        width: 72px;
        height: 48px;
        &__text{
            display: none;
        }
    }
}