.info-badge {
    width: 100%;
    display: flex;
    padding: 12px 120px;
    background-color: #cce9ff;
    justify-content: center;
    top: 0;
    display: grid;
    grid-template-rows: 1fr;

    &__content {
        display: flex;
        align-items: center;
        gap: 24px;
        max-width: 1440px;
        
    }
    &__wrapper{
        min-height: 0;
        overflow: hidden;
    }
    &--success{
        background-color: $GLightG;


        .info-badge{
            &__icon{
                background-color: $GMediumG;
            }
        }

        .subscribe-link{
            display: none;
        }
    }
    &--telegram{
        .info-badge{
           &__icon{
background-color: #08c;
           } 
        }
    }
<<<<<<< HEAD
    &--error{
        background-color: $MLightRed;


        .info-badge{
            &__icon{
                background-color: $MRed;
            }
=======
    &--success{
        .info-badge{
           &__icon{
background-color: #08c;
           } 
        }
        .subscribe-link{
            display: none;
        }   
    }
    &--error{
        .info-badge{
           &__icon{
background-color: #08c;
           } 
>>>>>>> 5a5aad847a56a5d5363cb169578c045aa71e73e4
        }

        .subscribe-link{
            display: none;
        }
    }
    &__icon {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 auto;
    }



    .subscribe-link {
        padding: 10.5px 24px;
        width: auto;
        border-radius: 60px;
        height: auto;

        svg {
            display: none;
        }
    }

    &__first-part,
    &__second-part {
        display: flex;
        gap: 12px;
        align-items: center;
    }
    &--hidden{
        // position: absolute;
        // z-index: 100;
        // top: -500%;
        // transition: top 25.3s ease-in-out;
        grid-template-rows: 0fr;
        padding-block: 0px;
        transition: all 0.3s ease-in-out ;

    }
    @include table {

        .subscribe-link {
            height: 40px;

            &__text {
                display: block;
            }
        }
    }

    @include mobile {
        padding: 12px 60px;

        &__content {
            flex-direction: column;
        }

        .subscribe-link {
            &__text {
                display: block;
            }
        }

        &__second-part {
            align-self: end;
        }

        &--hidden{
            padding-block: 0;
        }
    }

    @include mediumMobile {
        padding-inline: 20px;
        .subscribe-link {
            svg {
                display: block;
            }

            flex: 1 1 auto;
        }

        &__icon {
            display: none;
        }

        &__second-part {
            width: 100%;
        }
    }
}