.item-swiper {
  .swiper {
    position: relative;
    .swiper-wrapper {
      height: fit-content;
    }
    .swiper-slide {
      height: fit-content;
    }
    .item-swiper__pagination {
      display: flex;
      gap: 12px;
      height: 24px;
      bottom: 8px;
      align-items: center;
      position: absolute;
      &-wrapper {
        width: 168px;
        position: absolute;
        left: 50%;
        z-index: 5;
        transform: translateX(-50%);
      }
      .swiper-pagination-bullet {
        width: 11px;
        height: 10px;
        background: $GLightG;
        opacity: 1;
        &-active {
          background: $GMediumG;
        }
      }
    }
  }
}
